.heading-1,
.timer-img,
.fr-14-content,
.Graph-83-para {
    animation: heading1-fadein 1.5s;
    -moz-animation: heading1-fadein 1.5s;
    /* Firefox */
    -webkit-animation: heading1-fadein 1.5s;
    /* Safari and Chrome */
}

@keyframes heading1-fadein {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.heading-2 {
    animation: fadein 1.7s;
    -moz-animation: fadein 1.7s;
    /* Firefox */
    -webkit-animation: fadein 1.7s;
    /* Safari and Chrome */
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.content,
.line-img>img,
.navigate-desk,
.navigate-mob,
.content-white,
.navigate-btn {
    animation: content-fadein 1s;
    -moz-animation: content-fadein 1s;
    /* Firefox */
    -webkit-animation: content-fadein 1s;
    /* Safari and Chrome */
}

@keyframes content-fadein {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.board>img {
    animation: board-fadein .6s;
    -moz-animation: board-fadein .6s;
    /* Firefox */
    -webkit-animation: board-fadein .6s;
    /* Safari and Chrome */
}

@keyframes board-fadein {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fr4-board>img {
    animation: fr4-board-fadein .8s;
    -moz-animation: fr4-board-fadein .8s;
    /* Firefox */
    -webkit-animation: fr4-board-fadein .8s;
    /* Safari and Chrome */
}

@keyframes fr4-board-fadein {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}