.content>span {
    font-weight: normal;
}

.content-yellow {
    font-size: 26px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel>img {
    margin: 0 10px;
    width: 300px;
}


.download-btn>a>img {
    width: 100%;
}

.download-img {
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
    z-index: 11;
}

.top-btn {
    position: absolute;
    bottom: 12px;
    right: 40px;
    cursor: pointer;
}

.top-btn>a>img,
.download-img>a>img {
    width: 34px;
}

/* --------------MEDIA QUERY--------------- */

@media (min-width:320px) and (max-width:350px) {
   
    .content-yellow {
        font-size: 20px;
    }

    .mr30 {
        margin-top: 15px;
    }

    .download-btn {
        width: 12em;
    }

    .share-button>.li>img {
        width: 20px;
    }

    .top-btn>a>img {
        width: 25px;
    }

    .download-img>a>img {
        width: 30px;
    }

    .top-btn,
    .download-img {
        right: 25px;
    }


}

@media (min-width:360px) and (max-width:370px) {

    .mr30 {
        margin-top: 30px;
    }

    .download-btn {
        width: 13em;
    }

    .share-button>.li>img {
        width: 23px;
    }

    .top-btn>a>img {
        width: 25px;
    }

    .download-img>a>img {
        width: 30px;
    }

    .top-btn,
    .download-img {
        right: 25px;
    }

    .share-button {
        width: 12.5em;
    }



}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
 and (orientation : landscape) {


    .video-section-web {
        display: block;
        transform: scale(1, 1.4);
    }


    .content>br {
        display: none;
    }

    .frame-content {
        padding: 0 13em;
    }

    .button-section>.mr-10 {
        display: none;
    }

    .button-section {
        display: flex;
        margin: auto;
        width: 60%;
    }

    .download-btn {
        margin: 0;
        width: 18em;
    }

    .share-button {
        width: 18em;
        margin: 0 0px 11px 30px;
    }

    .share-button>.twi>img {
        width: 38px;
    }


    .share-button>.li>img {
        width: 34px;
    }

    .answerBoxImg-fr11 {
        position: relative;
    }

    .answerBoxImg-fr11>img {
        width: 100%;
    }

    .answerBoxImg-fr11>.content {
        position: absolute;
        top: 29px;
        /* font-size: 20px; */
        text-align: center;
        padding: 0 10px;
        z-index: -1;
    }

 
    .number {
        /* position: absolute; */
        padding: 4px 11px;
        text-align: center;
        top: 0px;
        background: #fbad18;
        left: 9em;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation :portrait) {

    .video-section-web {
        display: block;
        transform: scale(1, 2.4);
    }



    .content>br {
        display: none;
    }

  

    .mr30 {
        margin-top: 50px;
    }

    .download-btn,
    .share-button {
        width: 18em;
    }

    .share-button {
        width: 17em;
    }

    .share-button>.twi>img {
        width: 38px;
    }

    .share-button>p {
        font-size: 20px;
    }

    .share-button>.li>img {
        width: 34px;
    }

    .answerBoxImg-fr11>img {
        width: 100%;
    }

    .answerBoxImg-fr11>.content {
        position: absolute;
        top: 29px;
        /* font-size: 20px; */
        text-align: center;
        padding: 0 10px;
        z-index: -1;
    }



    .number {
        /* position: absolute; */
        padding: 4px 11px;
        text-align: center;
        top: 0px;
        background: #fbad18;
        left: 9em;
    }
}

@media only screen and (min-width : 1025px) {
  

    .content>br {
        display: none;
    }

    .frame-content {
        padding: 0 13em;
    }

    .content {
        font-size: 28px;
    }

    .content-yellow {
        font-size: 35px;
    }

    .button-section>.mr-10 {
        display: none;
    }

    .button-section {
        display: flex;
        margin: auto;
        width: 50%;
    }

    .download-btn {
        margin: 0;
        width: 18em;
    }

    .share-button {
        width: 18em;
        margin: 0 0px 11px 30px;
    }

    .share-button>.twi>img {
        width: 38px;
    }

    .share-button>p {
        font-size: 20px;
    }

    .share-button>.li>img {
        width: 34px;
    }

    .answerBoxImg-fr11>img {
        width: 100%;
    }

    .answerBoxImg-fr11>.content {
        position: absolute;
        top: 29px;
        font-size: 20px;
        text-align: center;
        padding: 0 10px;
        z-index: -1;
    }

    .number {
        /* position: absolute; */
        padding: 4px 11px;
        text-align: center;
        top: 0px;
        background: #fbad18;
        left: 9em;
    }
}