.video-section {
    transform: scale(1, 1.2);

}


.content {
    font-size: 19px;
}

.content>span {
    font-weight: normal;
}

.content-yellow {
    font-size: 26px;
}

.carousel {
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel>img {
    margin: 0 10px;
    width: 300px;
}

.download-btn {
    width: 13em;
    cursor: pointer;
    margin: auto;
}

.download-btn>a>img {
    width: 100%;
}

.download-img {
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
}

.top-btn {
    position: absolute;
    bottom: 12px;
    right: 40px;
    cursor: pointer;
}

.top-btn>a>img,
.download-img>a>img {
    width: 34px;
}

.share-button {
    width: 12em;
}

.video-section {
    display: block;
}

.video-section-web {
    display: none;
}

.answerBoxImg-fr11 {
    width: 315px;
    margin: 0 20px;
    position: relative;
}

.answerBoxImg-fr11>img {
    width: 100%;
}

.answerBoxImg-fr11>.content {
    position: absolute;
    top: 27px;
    font-size: 14px;
    text-align: center;
    padding: 0 10px;
    z-index: -1;
}

.slick-slider {
    padding: 20px 0 !important;
}

.slick-slide {
    margin: 0 8px;
}

.slick-slide>.answerBoxImg-fr11>img {
    width: 400px !important;
}

.number {
    position: absolute;
    padding: 2px 6px;
    text-align: center;
    top: 0px;
    background: #fbad18;
    left: 6em;
}

/* --------------MEDIA QUERY--------------- */

@media (min-width:320px) and (max-width:350px) {
    .content {
        font-size: 14px;
    }

    .content-yellow {
        font-size: 20px;
    }

    .mr30 {
        margin-top: 15px;
    }

    .download-btn {
        width: 12em;
    }

    .share-button>.li>img {
        width: 20px;
    }

    .top-btn>a>img {
        width: 25px;
    }

    .download-img>a>img {
        width: 30px;
    }

    .top-btn,
    .download-img {
        right: 25px;
    }

    .share-button {
        width: 11.5em;
    }

}

@media (min-width:360px) and (max-width:370px) {
    .content {
        font-size: 17px;
    }

    .content-yellow {
        font-size: 24px;
    }

    .mr30 {
        margin-top: 30px;
    }

    .download-btn {
        width: 13em;
    }

    .share-button>.li>img {
        width: 23px;
    }

    .top-btn>a>img {
        width: 25px;
    }

    .download-img>a>img {
        width: 30px;
    }

    .top-btn,
    .download-img {
        right: 25px;
    }

    .share-button {
        width: 12.5em;
    }

    .video-section {
        transform: scale(1.1, 1.2);
    }

}

@media (min-width:400px) and (max-width:736px) {
    .content {
        font-size: 22px;
    }

    .content-yellow {
        font-size: 24px;
    }

    .mr30 {
        margin-top: 40px;
    }

    .download-btn {
        width: 15em;
    }

    .share-button>.li>img {
        width: 26px;
    }

    .top-btn>a>img {
        width: 35px;
    }

    .download-img>a>img {
        width: 40px;
    }

    .top-btn,
    .download-img {
        right: 26px;
    }

    .share-button>p {
        font-size: 17px;
    }

    .share-button {
        width: 14.5em;
    }

    .video-section {
        transform: scale(1.1, 1.2);
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .video-section {
        display: none;
    }

    .video-section-web {
        display: block;
        transform: scale(1, 1.4);
    }

    .download-img,
    .top-btn {
        display: none;
    }

    .content>br {
        display: none;
    }

    .frame-content {
        padding: 0 13em;
    }

    .content {
        font-size: 28px;
    }

    .content-yellow {
        font-size: 35px;
    }

    .button-section>.mr-10 {
        display: none;
    }

    .button-section {
        display: flex;
        margin: auto;
        width: 60%;
    }

    .download-btn {
        margin: 0;
        width: 18em;
    }

    .share-button {
        width: 18em;
        margin: 0 0px 11px 30px;
    }

    .share-button>.twi>img {
        width: 38px;
    }

    .share-button>p {
        font-size: 20px;
    }

    .share-button>.li>img {
        width: 34px;
    }

    .answerBoxImg-fr11 {
        width: 315px;
        margin: 0 20px;
        position: relative;
    }

    .answerBoxImg-fr11>img {
        width: 100%;
    }

    .answerBoxImg-fr11>.content {
        position: absolute;
        top: 29px;
        font-size: 20px;
        text-align: center;
        padding: 0 10px;
        z-index: -1;
    }

    .slick-slider {
        padding: 20px 0 !important;
    }

    .slick-slide {
        margin: 0 8px;
    }

    .slick-slide {
        width: 300px !important;
    }

    /* .slick-slide > .answerBoxImg-fr11 >img{
        width: 400px!important;
    } */
    .number {
        position: absolute;
        padding: 4px 11px;
        text-align: center;
        top: 0px;
        background: #fbad18;
        left: 9em;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation :portrait) {
    .video-section {
        display: none;
    }

    .video-section-web {
        display: block;
        transform: scale(1, 2.4);
    }

    .download-img,
    .top-btn {
        display: none;
    }

    .content>br {
        display: none;
    }

    .frame-content {
        padding: 0 6em;
    }

    .content {
        font-size: 28px;
    }

    .content-yellow {
        font-size: 35px;

    }

    .mr30 {
        margin-top: 50px;
    }

    .download-btn,
    .share-button {
        width: 18em;
    }

    .share-button {
        width: 17em;
    }

    .share-button>.twi>img {
        width: 38px;
    }

    .share-button>p {
        font-size: 20px;
    }

    .share-button>.li>img {
        width: 34px;
    }

    .answerBoxImg-fr11>img {
        width: 100%;
    }

    .answerBoxImg-fr11>.content {
        position: absolute;
        top: 29px;
        font-size: 20px;
        text-align: center;
        padding: 0 10px;
        z-index: -1;
    }

    .slick-slider {
        padding: 20px 0 !important;
    }

    .slick-slide {
        margin: 0 8px;
    }

    .slick-slide {
        width: 300px !important;
    }

    /* .slick-slide > .answerBoxImg-fr11 >img{
        width: 400px!important;
    } */
    .number {
        position: absolute;
        padding: 4px 11px;
        text-align: center;
        top: 0px;
        background: #fbad18;
        left: 9em;
    }
}

@media only screen and (min-width : 1224px) {
    .video-section {
        display: none;
    }

    .video-section-web {
        display: block;
        transform: scale(1, 1.4);
    }

    .download-img,
    .top-btn {
        display: none;
    }

    .content>br {
        display: none;
    }

    .frame-content {
        padding: 0 13em;
    }

    .content {
        font-size: 28px;
    }

    .content-yellow {
        font-size: 35px;
    }

    .button-section>.mr-10 {
        display: none;
    }

    .button-section {
        display: flex;
        margin: auto;
        width: 50%;
    }

    .download-btn {
        margin: 0;
        width: 18em;
    }

    .share-button {
        width: 18em;
        margin: 0 0px 11px 30px;
    }

    .share-button>.twi>img {
        width: 38px;
    }

    .share-button>p {
        font-size: 20px;
    }

    .share-button>.li>img {
        width: 34px;
    }

    .answerBoxImg-fr11>img {
        width: 100%;
    }

    .answerBoxImg-fr11>.content {
        position: absolute;
        top: 29px;
        font-size: 20px;
        text-align: center;
        padding: 0 10px;
        z-index: -1;
    }

    .slick-slider {
        padding: 20px 0 !important;
    }

    .slick-slide {
        margin: 0 8px;
    }

    .slick-slide {
        width: 300px !important;
    }

    /* .slick-slide > .answerBoxImg-fr11 >img{
        width: 400px!important;
    } */
    .number {
        position: absolute;
        padding: 4px 11px;
        text-align: center;
        top: 0px;
        background: #fbad18;
        left: 9em;
    }
}