.content {
    font-size: 20px;
}

.content>span {
    font-weight: normal;
}

.heading-2 {
    font-size: 28px;
    font-weight: normal;
}

.carousel {
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel>img {
    margin: 0 10px;
    width: 300px;
}

.download-btn {
    width: 13em;
    cursor: pointer;
    margin: auto;
}

.download-btn>a>img {
    width: 100%;
}

.download-img {
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
}

.download-img>a>img {
    
}

.top-btn{
    position: absolute;
    bottom: 12px;
    right: 40px;
    cursor: pointer;
}
.top-btn > a >img,.download-img>a>img {
    width: 34px;
}
.share-button {
    width: 12em;
}