.mr-110 {
    margin-top: 125px;
}

.mr-10 {
    margin-bottom: 10px;
}

.content-white {
    font-size: 17px;
    line-height: 1.4;
    margin: 0;
}

.board {
    text-align: center;
}

.board>img {
    width: 85%;

}

.heading-2 {
    font-size: 24px;
    margin-bottom: 0;
}

.navigate-btn {
    width: 17em;
}

.navigate-btn-mob {
    width: 150px;
}

.navigate-btn-desk {
    display: none;
}

.video-section {
    display: block;
}

.video-section-web {
    display: none;
}


/* ----------------------------MEDIA QUERY----------------------------------- */

@media (min-width:320px)and (max-width:350px) {
    .header>a>img {
        height: 20px;
    }

    .frame-content {
        padding: 0 1em;
    }

    .mr-110 {
        margin-top: 100px;
    }

    .content-white {
        font-size: 14px;
        line-height: 20px;
    }

    .content-white>.heading-2 {
        font-size: 22px;
    }

    .navigate-btn {
        width: 15em;
    }

    .navigate-btn>a {
        font-size: 14px;
    }
}

@media (min-width:350px)and (max-width:370px) {
    .mr-110 {
        margin-top: 120px;
    }

    .navigate-btn {
        width: 16em;
    }
}

@media (min-width:376px)and (max-width:425px) {

    .mr-110 {
        margin-top: 145px;
    }

    .content-white {
        font-size: 20px;
        line-height: 27px;
    }

    .navigate-btn {
        width: 18em;
    }

    .navigate-btn>a {
        font-size: 18px;
    }
}

@media (min-width:650px)and (max-width:768px) {
    .header {
        padding: 32px 30px 0 30px;
    }

    .header>a>img {
        height: 40px;
    }

    #fr3-video {
        width: 101%;
    }

    .frame-content {
        padding: 0 4em;
    }

    .mr-110 {
        margin-top: 280px;
    }

    .mr-10 {
        margin-bottom: 16px;
    }

    .content-white {
        font-size: 33px;
        line-height: 38px;
    }

    .content-white>.heading-2 {
        font-size: 50px;
    }

    .navigate-btn {
        width: 32em;
        padding: 10px;
    }

    .navigate-btn>a {
        font-size: 30px;
    }
}

@media (min-width:768px) and (max-width:1024px)and (orientation: landscape) {
    .board>img {
        width: 370px;
    }

    .video-section {
        display: none;
    }

    .video-section-web {
        display: block;
        transform: scale(1, 1.4);
    }

    .mr-110 {
        margin-top: 127px;
    }

    .content-white {
        font-size: 20px;
    }

    .mr-10 {
        margin-bottom: 20px;
    }

    #fr3-body>.navigate-btn {
        width: 20em;
    }

    #fr3-body>.navigate-btn>a {
        font-size: 20px;
    }
}

@media (min-width:768px) and (max-width:1024px)and (orientation: portrait) {
    .board>img {
        width: 405px;
    }

    .video-section {
        display: none;
    }

    .video-section-web {
        display: block;
        transform: scale(1, 2.4);
    }

    .mr-110 {
        margin-top: 127px;
    }

    .content-white {
        font-size: 20px;
    }

    .mr-10 {
        margin-bottom: 20px;
    }

    #fr3-body>.navigate-btn {
        width: 20em;
    }

    #fr3-body>.navigate-btn>a {
        font-size: 20px;
    }

    .content-white>.heading-2 {
        font-size: 36px;
    }

    .content-white {
        font-size: 21px;
    }
}


@media only screen and (min-width : 1224px) {
    .board>img {
        width: 432px;
    }

    .video-section {
        display: none;
    }

    .video-section-web {
        display: block;
        transform: scale(1, 1.4);
    }

    .mr-110 {
        margin-top: 158px;
    }

    .content-white {
        font-size: 24px;
    }

    .mr-10 {
        margin-bottom: 20px;
    }

    #fr3-body>.navigate-btn {
        width: 22em;
    }

    #fr3-body>.navigate-btn>a {
        font-size: 22px;
    }
}