.fr4-board {
    text-align: center;
}

.fr4-board>img {
    width: 87%;

}

#fr10-body>.mr-202 {
    margin-top: 184px;
}

.fr10-content>.timer-img {
    position: absolute;
    left: 21em;
    padding: 0;
    top: 19em;
}

.timer-img {
    padding: 0 45px;
    position: relative;
}

.timer-img>.carIcon {
    width: 50px;
    bottom: -2px;
    position: absolute;
    animation: carMovement 10s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes carMovement {
    form {
        transform: translateX(10px)
    }

    to {
        transform: translateX(233px);
    }
}

.timer-color {
    background-color: #fbad18;
    height: 6px;
    top: 16px;
    position: absolute;
    width: 0;
}


.timer-img>.trackIcon {
    width: 100%;
}


.fr4-board-web {
    display: none;
}

.video-section {
    display: block;
}

.video-section-web {
    display: none;
}


/* ----------------------------MEDIA QUERY----------------------------------- */
@media (min-width:320px)and (max-width:350px) {
    #fr10-body>.mr-202 {
        margin-top: 160px;
    }

    .header>a>img {
        height: 20px;
    }

    #fr4-video {
        width: 101%;
    }

    .frame-content {
        padding: 0 1em;
    }

    .mr-202 {
        margin-top: 172px;
    }

    .mr-180 {
        margin-top: 156px;
    }

    .timer-img>.carIcon {
        animation: carMovement 10s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
    }

    @keyframes carMovement {
        form {
            transform: translateX(10px)
        }

        to {
            transform: translateX(180px);
        }
    }

    .timer-color {
        top: 12px;
    }
}

@media (min-width:355px)and (max-width:370px) {
    .header>a>img {
        height: 20px;
    }

    #fr4-video {
        width: 101%;
    }

    .frame-content {
        padding: 0 1em;
    }

    .mr-202 {
        margin-top: 200px;
    }

    .mr-180 {
        margin-top: 180px;
    }

    .timer-img>.carIcon {
        animation: carMovement 10s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
    }

    @keyframes carMovement {
        form {
            transform: translateX(10px)
        }

        to {
            transform: translateX(220px);
        }
    }

    .timer-color {
        top: 14px;
    }
}

@media (min-width:380px)and (max-width:425px) {
    #fr10-body>.mr-202 {
        margin-top: 206px;
    }

    .header>a>img {
        height: 20px;
    }

    #fr4-video {
        width: 101%;
    }

    .frame-content {
        padding: 0 1em;
    }

    .mr-202 {
        margin-top: 230px;
    }

    .mr-180 {
        margin-top: 214px;
    }

    .timer-img>.carIcon {
        animation: carMovement 10s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
    }

    @keyframes carMovement {
        form {
            transform: translateX(10px)
        }

        to {
            transform: translateX(270px);
        }
    }

    .timer-color {
        top: 17px;
    }
}

@media (min-width:768px) and (max-width:1024px)and (orientation: landscape) {

    .video-section {
        display: none;
    }

    .video-section-web {
        display: block;
        transform: scale(1, 1.3);
    }

    .fr4-board-web {
        display: block;
    }

    .fr4-board-web {
        text-align: center;
    }

    .fr4-board-web>img {
        width: 50%
    }

    .fr4-board>img {
        width: 38%;
    }

    .mr-202 {
        margin-top: 162px;
    }

    .fr10-content>.timer-img {
        top: 18em;
    }

    .timer-img {
        /* padding: 0 158px; */
        /* padding: 0 0 0 23em; */
        position: relative;
    }

    .timer-img>.carIcon {
        animation: carMovement 10s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
    }

    @keyframes carMovement {
        form {
            transform: translateX(10px)
        }

        to {
            transform: translateX(308px);
        }
    }

    .fr12-board>.timer-img>.trackIcon {
        width: 52%;
    }

    .timer-color {
        top: 20px;
    }

    .track {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fr12-board>.timer-img {
        position: absolute;
        left: 21em;
        padding: 0;
        top: 19.5em;
    }

    #fr10-body>.fr12-board>.timer-img {
        position: absolute;
        left: 21em;
        padding: 0;
        top: 17.5em;
    }
}

@media (min-width:768px) and (max-width:1024px)and (orientation: portrait) {

    .video-section {
        display: none;
    }

    .video-section-web {
        display: block;
        transform: scale(1, 2.4);
    }

    .fr4-board-web {
        display: block;
    }

    .fr4-board-web {
        text-align: center;
    }

    .fr4-board-web>img {
        width: 50%
    }

    .fr4-board>img {
        width: 50%;
    }

    .mr-202 {
        margin-top: 162px;
    }

    .timer-img {
        /* padding: 0 158px; */
        /* padding: 0 0 0 23em; */
        position: relative;
    }

    .timer-img>.carIcon {
        animation: carMovement 10s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
    }

    @keyframes carMovement {
        form {
            transform: translateX(10px)
        }

        to {
            transform: translateX(296px);
        }
    }

    .fr12-board>.timer-img>.trackIcon {
        width: 62%;
    }

    .timer-color {
        top: 20px;
    }

    .track {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fr12-board>.timer-img {
        position: absolute;
        left: 13em;
        padding: 0;
        top: 18em;
    }

    #fr10-body>.fr1-board>.timer-img {
        position: absolute;
        left: 13em;
        padding: 0;
        top: 17.5;
    }
}

@media only screen and (min-width : 1224px) {
    .video-section {
        display: none;
    }

    .video-section-web {
        display: block;
        transform: scale(1, 1.4);
    }

    .fr4-board-web {
        display: block;
    }

    .fr4-board-web {
        text-align: center;
    }

    .fr4-board-web>img {
        width: 50%
    }

    .fr4-board>img {
        width: 38%;
    }

    .mr-202 {
        margin-top: 162px;
    }

    .timer-img {
        /* padding: 0 158px; */
        /* padding: 0 0 0 23em; */
        position: relative;
    }

    .timer-img>.carIcon {
        animation: carMovement 10s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
    }

    @keyframes carMovement {
        form {
            transform: translateX(10px)
        }

        to {
            transform: translateX(342px);
        }
    }

    .fr12-board>.timer-img>.trackIcon {
        width: 52%;
    }

    .timer-color {
        top: 20px;
    }

    .track {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fr12-board>.timer-img {
        position: absolute;
        left: 27em;
        padding: 0;
        top: 25em;
    }

    #fr10-body>.fr12-board>.timer-img {
        position: absolute;
        left: 27em;
        padding: 0;
        top: 23em;
    }

}