.fr4-board {
    text-align: center;
}

.fr4-board>img {
    width: 87%;

}

.timer-img {
    padding: 0 45px;
    position: relative;
}

.timer-img>.carIcon {
    width: 50px;
    bottom: -2px;
    position: absolute;
    animation: carMovement 10s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

@keyframes carMovement {
    form {
        transform: translateX(10px)
    }

    to {
        transform: translateX(233px);
    }
}

.timer-color {
    background-color: #fbad18;
    height: 6px;
    top: 16px;
    position: absolute;
    width: 0;
}


.timer-img>.trackIcon {
    width: 100%;
}

/* ----------------------------MEDIA QUERY----------------------------------- */
@media (min-width:320px)and (max-width:350px) {
    .header>a>img {
        height: 20px;
    }

    #fr4-video {
        width: 101%;
    }

    .frame-content {
        padding: 0 1em;
    }

    .mr-202 {
        margin-top: 172px;
    }

    .mr-180{
        margin-top: 156px;
    }

    .timer-img>.carIcon {
        animation: carMovement 10s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
    }

    @keyframes carMovement {
        form {
            transform: translateX(10px)
        }

        to {
            transform: translateX(180px);
        }
    }

    .timer-color {
        top: 12px;
    }
}
@media (min-width:355px)and (max-width:370px) {
    .header>a>img {
        height: 20px;
    }

    #fr4-video {
        width: 101%;
    }

    .frame-content {
        padding: 0 1em;
    }

    .mr-202 {
        margin-top: 200px;
    }
    .mr-180 {
        margin-top: 180px;
    }

    .timer-img>.carIcon {
        animation: carMovement 10s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
    }

    @keyframes carMovement {
        form {
            transform: translateX(10px)
        }

        to {
            transform: translateX(220px);
        }
    }

    .timer-color {
        top: 14px;
    }
}
@media (min-width:380px)and (max-width:425px) {
    .header>a>img {
        height: 20px;
    }

    #fr4-video {
        width: 101%;
    }

    .frame-content {
        padding: 0 1em;
    }

    .mr-202 {
        margin-top: 230px;
    }
    .mr-180 {
        margin-top: 214px;
    }

    .timer-img>.carIcon {
        animation: carMovement 10s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
    }

    @keyframes carMovement {
        form {
            transform: translateX(10px)
        }

        to {
            transform: translateX(270px);
        }
    }

    .timer-color {
        top: 17px;
    }
}