.fr5 {
    background-image: url('../images/fr_mob/fr5_mob_375.png');
}
.fr6 {
    background-image: url('../images/fr_mob/fr6_mob_375.png');
}
.fr8 {
    background-image: url('../images/fr_mob/fr8_mob_375.png');
}
.fr9 {
    background-image: url('../images/fr_mob/fr9_mob_375.png');
}

.fr10 {
    background-image: url('../images/fr_mob/fr10_mob_375.png');
}

.fr13{
    background-image: url('../images/fr_mob/fr13_mob_375.png');
}


#fr5-video {
    position: absolute;
    /* width: auto; */
    height: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    width: 100%;
    background-image: linear-gradient(#efeeef, #7e7c7e)
}
.frame-content {
    text-align: center;
    padding: 0 1.5em;
    position: relative;
}

.frame-contentBody {
    position: absolute;
    top: 0;
    width: 100%;
}
.heading-1 {
    font-size: 16px;
    line-height: 17px;
    margin: 0;
}

.heading-2 {
    font-size: 16px;
    margin-bottom: 0;
}

.content {
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
    padding: 24px 18px 10px 18px;
}

.mr-110{
    margin-top: 70px;
}
.answerBoxImg, .answerBoxImg-fr8, .answerBoxImg-fr9, .answerBoxImg-fr13{
    width: 315px;
    margin: auto;
}
.answerBoxImg > img,.answerBoxImg-fr8>img ,.answerBoxImg-fr9 >img ,.answerBoxImg-fr13>img{
    width: 100%;
}
.answerBoxImg-fr8,.answerBoxImg-fr9,.answerBoxImg-fr13{
    position: relative;
}

.answerBoxImg-fr8 > .content ,.answerBoxImg-fr13>.content{
    position: absolute;
    top: 3px;
}

.answerBoxImg, .share-button, .button-section{
    animation: answerBoxImg 1s;
    -moz-animation: answerBoxImg 1s; /* Firefox */
    -webkit-animation: answerBoxImg 1s;/* Safari and Chrome */

}

.answerBoxImg-fr9>.heading-1{
    left: 0px;
    font-size: 28px;
    top: 10px;
    padding: 0 1em;
    position: absolute;
}
.ansewerBox{
    position: absolute;
    z-index: -1;

}

@keyframes answerBoxImg {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.ansewerBox >img{
    width: 330px;
}
.share-button{
    position: absolute;
    bottom: 18px;
    left: 94px;
    width: 11em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
    background: #fff;
    box-shadow: -1px 2px 9px -1px rgba(0,0,0,0.75);
}
.share-button >p{
    padding-right: 10px;
    font-size: 15px;
    color: black;
}

.share-button > span{
    font-size: 16px;
    padding-right: 8px;
}
 .share-button > .twi{
    width: 25px;
    padding: 5px 0px 0 0;
    cursor: pointer;
 }
 .share-button > .twi >img{
    width: 29px;
    padding-right: 10px;
}

.share-button > .li{
    margin-left: 8px;
    cursor: pointer;
}
.share-button > .li >img{
    width: 25px;  
}

.detail-section{
    padding: 5px 10px 0 10px;
}
.heading-3{
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.heading-1{
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.3;
}

.button-section{
    position: absolute;
    bottom: 24px;
    left: 108px;
}

.button-section>.navigate {
    width: 10em;
    /* width: 80%; */
}

.button-section>.navigate-mob {
    width: 150px;
}

.button-section>.navigate-desk {
    display: none;
}


.button-section>.navigate {

    margin: auto;
    background-color: #20a4dd;
    padding: 3px 5px;
}

.button-section>.navigate>a {
text-decoration: none;
    font-size: 20px;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;

}

.bottom-navigation-section {
    padding: 10px 10px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-navigate {
    width: 16px;
}

.bottom-navigate>a>img {
    width: 100%;
}

.navigation-section {

    position: absolute;
    bottom: 0;
    left: 49%;
    padding-bottom: 8px;

}
.navigate {
    width: 10px;
}

.navigate>a>img {
    width: 100%;
}

/* ----------------------------MEDIA QUERY----------------------------------- */
@media (min-width: 350px) {
    .frame-content-fr3 {
        padding: 1em 3em;
    }
}

@media (min-width: 576px) {


    .heading-2 {
        font-size: 25px;
    }


}


@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .fr4 {
        background-image: url('../images/fr_desk/fr4_desk_1024.png');
    }

    .heading-2 {
        font-size: 42px;
        text-transform: uppercase;
    }


    .button-section>.navigate-mob {
        display: none;
    }

    .button-section>.navigate-desk {
        width: 23em;
        display: block;
        font-size: 19px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .heading-2 {
        font-size: 30px;
        text-transform: uppercase;
    }


    .button-section>.navigate-mob {
        display: none;
    }

    .button-section>.navigate-desk {
        width: 23em;
        display: block;
        font-size: 19px;
    }

}


@media screen and (min-width: 1025px) {
    .heading-2 {
        font-size: 43px;
        text-transform: uppercase;
    }


    .heading-section {
        padding: 0 90px;
    }

    .button-section>.navigate-mob {
        display: none;
    }

    .button-section>.navigate-desk {
        width: 24em;
        display: block;
    }
}