html,body
{
    margin: 0;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.pd-5 {
    padding-bottom: 5px;
}

.pd-8 {
    padding-bottom: 2em;
}

.pd-10 {
    padding-bottom: 1em;
}

.pd-80 {
    /* padding-bottom: 80px; */
    padding-bottom: 11em;
}

.pd-100 {
    padding-bottom: 6.5em;
}

#home {
    background: none;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}


.header {
    padding: 25px 30px 0px 30px;
}

.logo {
    width: 63px;
}

.logo>a>img {
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.frame-body {
    /* min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    /* position: ; */
    
}

.frame-content {
    text-align: center;
    padding: 0 1em;
    position: relative;
}

/* black color/bold */
.heading-1 {
    color: #000;
    font-weight: bold;
}

/* yellow color/bold  */
.heading-2 {
    color: #fbad18;
    font-weight: bold;
}

/* white color/bold  */
.heading-3 {
    color: #ffffff;
    font-weight: bold;
}

/* simple */
.content {
    color: #000;
}

.content-white{
    color: #ffffff;
}

.content> span {
    font-weight: bold;
}
.content-yellow{
    color: #fbad18;
}

.content> .highlight-tag  {
    color: #000000;
}

/* black color/ span bold */
.content-1 {}

/* yellow color/ span bold */
.content-2 {}

.line-img>img {
    width: 50px;
    height: 2px;
    text-align: center;
}

.cta-button {}




/* ----------------------------MEDIA QUERY----------------------------------- */

@media (min-width:320px) {
    .pd-80 {
        padding-bottom: 7em;
    }
    .pd-100 {
        padding-bottom: 6.5em;
    }
    .logo {
        width: 57px;
    }
}

@media (min-width :360px) {
    .pd-80 {
        padding-bottom: 7em;
    }
    .pd-100 {
        padding-bottom: 6.5em;
    }
}

@media (min-width :411px) {
    .pd-80 {
        padding-bottom: 15em;
    }
    .pd-100 {
        padding-bottom: 8em;
    }
}

@media (min-width: 576px) {
    .header {
        padding: 25px 30px 0px 30px;
    }

    .logo {
        width: 62px;
    }

    .logo>a>img {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .logo {
        width: 90px;
    }

    .pd-80 {
        padding-bottom: 7em;
    }
    .content> .highlight-tag  {
        color: #fbad18;
    }
    .line-img {
        padding:10px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .logo {
        width: 90px;
    }

    .pd-80 {
        padding-bottom: 20em;
    }
    .content> .highlight-tag  {
        color: #fbad18;
    }

    .line-img {
        padding:10px 0;
    }
    
}

@media screen and (min-width: 1025px) {
    .pd-100 {
        padding-bottom: 6em;
    }
    .logo {
        width: 90px;
    }
    .content> .highlight-tag  {
        color: #fbad18;
    }
    .line-img {
        padding:10px 0;
    }
    
}