@font-face {
	font-family: "myriad-pro-bold";
	src: url("../font/Alibaba-Sans/AlibabaSans-Medium.otf");
}
@font-face {
	font-family: "myriad-semibold";
	src: url("../font/Alibaba-Sans/AlibabaSans-Bold.otf") format('woff');
}
@font-face {
	font-family: "myriad-pro-regular";
	src: url("../font/Alibaba-Sans/AlibabaSans-Regular.otf") format('woff');
}
.animate-ltr {
	transform: translateX(100%);
	transition-duration: 1s;
}
.animate-rtl {
	transform: translateX(-100%);
	transition-duration: 1s;
}
.animate-btt {
	transform: translateY(-100%);
	transition-duration: 1s;
}
.animate-ttb {
	transform: translateY(100%);
	transition-duration: 1s;
}
*,
html,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/* ------------ spacing ------------*/

.pd-5 {
	padding-bottom: 5px;
}
.pd-8 {
	padding-bottom: 2em;
}
.pd-10 {
	padding-bottom: 1em;
}
.pd-80 {
	padding-bottom: 11em;
}
.pd-100 {
	padding-bottom: 6.5em;
}
.mr-100 {
	margin-top: 110px;
}
.mr-30 {
	margin-top: 15px;
}
.mr30 {
	margin-top: 30px;
}
.mr-10 {
	margin-top: 10px;
}
.mr-202 {
	margin-top: 205px;
}
.mr-180 {
	margin-top: 184px;
}
/* ------------ content ------------*/

.home {
	background: none;
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
}
.video-section,
.video-section-web {
	z-index: -1;
	width: 100%;
	background-image: linear-gradient(#efeeef, #7e7c7e);
}
.frame-contentBody {
	position: absolute;
	top: 0;
	width: 100%;
}
.frame-content {
	text-align: center;
	padding: 0 1.5em;
}
.header {
	padding: 25px 25px 0 25px;
}
.header>a>img {
	height: 24px;
}
.logo {
	width: 63px;
}
.logo>a>img {
	width: 100%;
}
.column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
/* ------------ content colors ------------ */

.heading-1 {
	color: #000;
	font-family: "myriad-semibold";
}
.heading-2 {
	color: #fbad18;
	font-family: "myriad-pro-bold";
}
.sub-heading {
	color: #fbad18;
	font-family: "myriad-semibold";
}
.sub-heading-fr14 {
	color: #fbad18;
}
.heading-3 {
	color: #ffffff;
	font-weight: bold;
}
.content-bold {
	font-family: "myriad-pro-bold";
}
.content {
	color: #000;
	font-family: "myriad-pro-regular";
}
.content-white {
	color: #ffffff;
	font-family: "myriad-pro-regular";
}
.content-yellow {
	color: #fbad18;
	font-family: "myriad-pro-regular";
}
/* ------------ buttons ------------ */

/* downward arrow */

.navigation-section {
	position: absolute;
	bottom: 0;
	left: 49%;
	padding-bottom: 8px;
}
.navigate {
	width: 10px;
}
.navigate>a>img {
	width: 100%;
}
/* Find out btn */

.navigate-btn,
.navigate-btn-fr13,
.navigate-btn-fr15,
.navigate-btn-fr17,
.navigate-mob,
.navigate-desk {
	margin: auto;
	background-color: #20a4dd;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
	border: none;
	font-size: 14px;
	color: #fff;
	font-size: 1em;
}
.navigate-btn>a,
.navigate-mob>a,
.navigate-btn-fr13>a,
.navigate-btn-fr15>a,
.navigate-btn-fr17>a,
.navigate-desk>a {
	font-family: "myriad-pro-bold";
	text-decoration: none;
	color: #fff;
	border: none;
	cursor: pointer;
}
/* share button */

.share-button {
	width: 11em;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: auto;
	cursor: pointer;
	background: #fff;
	box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.45);
}
.share-button>span {
	font-size: 16px;
	padding-right: 8px;
}
.share-button>.twi {
	width: 25px;
	padding: 5px 0px 0 0;
	cursor: pointer;
}
.share-button>.twi>img {
	width: 29px;
	/* padding-right: 10px; */
}
.share-button>.li {
	padding-left: 8px;
	cursor: pointer;
}
.share-button>.li>img {
	width: 25px;
}
.video-section-cloud {
	position: absolute;
	transform: scale(1, 1.1);
	width: 100%;
}
/* ------------line image ------------ */

.line-img>img {
	width: 50px;
	height: 2px;
	text-align: center;
}
.download-img {
	position: absolute;
	right: 40px;
	top: 20px;
	cursor: pointer;
}
.download-img>a>img {
	width: 34px;
}
.btn-find {}
/* ----------------------------MEDIA QUERY----------------------------------- */

@media (min-width: 320px)and (max-width: 350px) {
	.header>a>img {
		height: 20px;
	}
}
@media (min-width: 360px) and (max-width: 370px) {
	.header>a>img {
		height: 22px;
	}
}
@media (min-width: 680px) {
	.header {
		padding: 35px 30px 0 35px;
	}
	.header>a>img {
		height: 32px;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.video-section-cloud {
		top: -243px;
		position: absolute;
		transform: scale(1, .5);
		width: 100%;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.video-section-cloud {
		top: -40px;
		position: absolute;
		transform: scale(1, .9);
		width: 100%;
	}
}
@media only screen and (min-width: 1224px) {
	.video-section-cloud {
		top: -430px;
		position: absolute;
		transform: scale(1, 0.3);
		width: 100%;
	}
}
/* specific */

@media (width: 360px) and (height: 700px) {
	.video-section {
		transform: scale(1, 1.2);
	}
}
@media (width: 411px) and (height: 823px) {
	.video-section {
		transform: scale(1, 1.2);
	}
}
@media (width: 375px) and (height: 812px) {
	.video-section {
		transform: scale(1, 1.3);
	}
}
@media (width: 360px) and (height: 740px) {
	.video-section {
		transform: scale(1, 1.2);
	}
}