@font-face {
    font-family: "myfont";
    src: url("../font/myriad-pro-cufonfonts-webfont/MYRIADPRO-BOLD.woff") format('woff');
 }


html,body
{
    margin: 0;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.pd-5 {
    padding-bottom: 5px;
}

.pd-8 {
    padding-bottom: 2em;
}

.pd-10 {
    padding-bottom: 1em;
}

.pd-80 {
    /* padding-bottom: 80px; */
    padding-bottom: 11em;
}

.pd-100 {
    padding-bottom: 6.5em;
}
.mr-100 {
    margin-top: 110px;
}

#home {
    background: none;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.header {
    padding: 25px 25px 0 25px;
}

.header>a>img {
    height: 24px;
}

.logo {
    width: 63px;
}

.logo>a>img {
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading-1 {
    color: #000;
    font-weight: bold;
    font-family: "myfont";
}


.heading-2 {
    color: #fbad18;
    font-weight: bold;
}


.heading-3 {
    color: #ffffff;
    font-weight: bold;
}


.content {
    color: #000;
}

.content-white{
    color: #ffffff;
}

.content> span {
    font-weight: bold;
}
.content-yellow{
    color: #fbad18;
}

.content> .highlight-tag  {
    color: #000000;
}


.line-img>img {
    width: 50px;
    height: 2px;
    text-align: center;
}
/* ----------------------------MEDIA QUERY----------------------------------- */

