@font-face {
	font-family: "myriad-pro-bold";
	src: url("../font/myriad-pro-cufonfonts-webfont/MYRIADPRO-BOLD.woff") format('woff');
}
@font-face {
	font-family: "myriad-semibold";
	src: url("../font/myriad-pro-cufonfonts-webfont/MYRIADPRO-SEMIBOLD.woff") format('woff');
}
@font-face {
	font-family: "myriad-pro-regular";
	src: url("../font/myriad-pro-cufonfonts-webfont/MYRIADPRO-REGULAR.woff") format('woff');
}
.animate-ltr {
	transform: translateX(100%);
	transition-duration: 1s;
}
.animate-rtl {
	transform: translateX(-100%);
	transition-duration: 1s;
}
.animate-btt {
	transform: translateY(-100%);
	transition-duration: 1s;
}
.animate-ttb {
	transform: translateY(100%);
	transition-duration: 1s;
}
*,
html,
body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.navbar {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 11;
	padding: 20px;
}
.navbar>a>img {
	width: 70px;
}
.home {
	background: none;
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
}
.mr-160 {
	margin-top: 160px;
}
.mr-12 {
	margin-top: 12px;
}
.mr-20 {
	margin-top: 20px;
}
.mr-60 {
	margin-top: 60px;
}
.mr-90 {
	margin-top: 90px;
}
.mr-180 {
	margin-top: 180px;
}
.mr-253 {
	margin-top: 253px;
}
.mr-235 {
	margin-top: 235px;
}
.video-section,
.video-section-web {
	position: absolute;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	width: 100%;
	background-image: linear-gradient(#efeeef, #7e7c7e);
}
.video-section-web {
	display: none;
}
.video-section-web-img {
	display: none;
}
.navigation-section {
	position: absolute;
	bottom: 12px;
	left: 49%;
}
.navigation-section>a>img {
	width: 16px;
}
.frame-contentBody {
	position: absolute;
	top: 0;
	width: 100%;
}
.frame-content {
	text-align: center;
	padding: 0 1.5em;
}
.flag,
.flag-web {
	display: none;
}
.heading-2 {
	font-size: 24px;
	margin-bottom: 5px;
	color: #fbad18;
	font-family: "myriad-pro-bold";
}
.heading-1 {
	font-size: 17px;
	line-height: 1.3;
	text-transform: uppercase;
	margin: 0;
	color: #000;
	font-family: "myriad-semibold";
}
.sub-heading {
	color: #fbad18;
	font-family: "myriad-semibold";
}
.content-yellow {
	color: #fbad18;
	font-family: "myriad-pro-regular";
}
.line-img {
	margin-bottom: 8px;
}
.line-img>img {
	width: 50px;
	height: 2px;
	text-align: center;
}
.content {
	font-size: 16px;
	line-height: 1.3;
	color: #000;
	font-family: "myriad-pro-regular";
}
.content-bold {
	font-family: "myriad-pro-bold";
}
#sec2-framebody>.heading-1 {
	text-transform: capitalize;
}
.navigate-btn,
.navigate-btn-fr13,
.navigate-btn-fr15,
.navigate-btn-fr17,
.navigate-mob,
.navigate-desk {
	margin: auto;
	background-color: #20a4dd;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.navigate-btn>a,
.navigate-mob>a,
.navigate-btn-fr13>a,
.navigate-btn-fr15>a,
.navigate-btn-fr17>a,
.navigate-desk>a {
	font-family: "myriad-pro-bold";
	text-decoration: none;
	color: #fff;
	border: none;
	cursor: pointer;
}
.navigate-mob {
	width: 130px;
}
.navigate-desk {
	display: none;
}
.navigate-mob>a,
.navigate-desk>a {
	font-size: 17px;
}
.video-section-web-img {
	display: none;
}
.fr4-board {
	text-align: center;
	top: 0;
	position: absolute;
}
.board {
	left: -0.6em;
	position: absolute;
	display: flex;
	justify-content: center;
}
.board>img,
.fr4-board>img {
	width: 85%;
}
.fr4-board {
	display: block;
}
.fr4-webboard {
	display: none;
}
.content-white {
	font-size: 17px;
	line-height: 1.4;
	margin: 0;
	color: #ffffff;
	font-family: "myriad-pro-regular";
}
.timer-img {
	padding: 0 45px;
	position: relative;
}
.timer-color {
	background-color: #fbad18;
	height: 6px;
	top: 16px;
	position: absolute;
	width: 0;
}
.timer-img>.carIcon {
	width: 50px;
	bottom: -2px;
	position: absolute;
}
.timer-img>.trackIcon {
	width: 100%;
}
.answerBoxImg,
.answerBoxImg-fr8,
.answerBoxImg-fr9,
.answerBoxImg-fr11,
.answerBoxImg-fr13 {
	width: 315px;
	margin: auto;
	position: relative;
}
.answerBoxImg>img,
.answerBoxImg-fr8>img,
.answerBoxImg-fr9>img,
.answerBoxImg-fr11>img,
.answerBoxImg-fr13>img {
	width: 100%;
}
.answerBoxImg-fr11>.content {
	position: absolute;
	top: 20px;
	padding: 0 20px;
}
.answerBoxImg-fr11>.content>.heading-2,
.answerBoxImg-fr11>.content,
.answerBoxImg-fr13>.content>.heading-2,
.answerBoxImg-fr8>.content>.heading-2 {
	font-size: 16px;
}
.answerBoxImg-fr8>.content,
.answerBoxImg-fr13>.content {
	position: absolute;
	top: 33px;
	padding: 0 10px;
}
.share-button,
.answerBoxImg-fr13,
.button-section {
	animation: answerBoxImg 1s;
	-moz-animation: answerBoxImg 1s;
	/* Firefox */
	-webkit-animation: answerBoxImg 1s;
	/* Safari and Chrome */
}
.answerBoxImg-fr9>.heading-1 {
	left: 0px;
	font-size: 27px;
	top: 10px;
	padding: 0 1em;
	position: absolute;
}
.answerBoxImg-fr9>.navigate-btn {
	position: absolute;
	left: 88px;
	bottom: 26px;
}
.answerBoxImg-fr13>.navigate-btn-fr13 {
	width: 16em;
	position: absolute;
	left: 30px;
	bottom: 22px;
}
.answerBoxImg-fr13>.navigate-btn-fr13>a {
	font-size: 14px;
}
.ansewerBox {
	position: absolute;
	z-index: -1;
}
.ansewerBox>img {
	width: 330px;
}
.share-button {
	width: 11em;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: auto;
	cursor: pointer;
	background: #fff;
	box-shadow: -1px 2px 9px -1px rgba(0, 0, 0, 0.75);
}
.share-button>p {
	padding-right: 10px;
	font-size: 15px;
	color: black;
}
.share-button>span {
	font-size: 16px;
	padding-right: 8px;
}
.share-button>.twi {
	width: 25px;
	padding: 5px 0px 0 0;
	cursor: pointer;
}
.share-button>.twi>img {
	width: 29px;
	padding-right: 10px;
}
.share-button>.li {
	padding: 0px 5px 0 0;
	cursor: pointer;
}
.share-button>.li>img {
	width: 25px;
}
.fr-14-content>.share-button {
	margin: 0;
}
#fr3-body>.navigate-btn {
	width: 16em;
}
#fr5-content-body {
	position: relative;
}
#fr5-content-body>.share-button {
	left: 65px;
	position: absolute;
	bottom: 18px;
}
#fr5-body>.heading-1 {
	text-transform: capitalize;
}
#fr5-body>.navigate-btn {
	width: 9em;
	left: 7.5em;
	bottom: -1em;
}
#fr9-body {
	position: relative;
}
#fr9-body>.heading-1 {
	text-transform: capitalize;
}
#fr9-body>.navigate-btn {
	width: 9em;
}
#fr14-content-body,
#fr16-content-body {
	text-align: left;
}
#section14>.navigate-btn {
	width: 15em;
	left: 4em;
}
#section16>.navigate-btn {
	left: 20px;
}
.web-board {
	display: none;
}
#section14 .graph-content-fr14,
#section15 .graph-content,
#section17 .frame-content .graph-content {
	display: block;
}
#section16 .graph-fr16 {
	display: none;
}
#section17 .fr14-heading,
#section16 .fr14-heading,
#section15 .fr14-heading,
#section14 .fr14-heading {
	display: flex;
}
#section17 .number,
#section16 .number,
#section15 .number,
#section14 .number {
	font-size: 17px;
	padding: 4px 11px;
	text-align: center;
	background: #fbad18;
}
#section17 .heading,
#section16 .heading,
#section15 .heading,
#section14 .heading {
	font-size: 17px;
	padding: 6px 13px;
	font-weight: bold;
	background-color: #000;
	color: #fbad18;
}
#section17 .frame-content,
#section16 .frame-content,
#section15 .frame-content,
#section14 .frame-content {
	padding: 0 3em;
}
/* #section17 .frame-content .graph-content {display: flex; justify-content: space-between;} */

#section17 .frame-content .graph-content .graph {
	margin: 0;
	position: relative;
	width: 300px;
}
#section17 .frame-content .graph-content .graph img,
#section15 .graph img,
#section14 .graph img {
	width: 100%;
}
#section17 .frame-content .graph-content .graph .graph-para {
	padding: 0 0px 0 100px;
	font-size: 17px;
	position: absolute;
	top: 45px;
}
#section17 .mr-60,
#section16 .mr-60,
#section15 .mr-60,
#section15 .mr-60,
#section14 .mr-60 {
	margin-top: 60px;
}
#section17 .mr-20 {
	margin-top: 45px;
}
#section16 .mr-12 {
	margin: 18px;
}
#section15 .mr-30,
#section14 .mr-30 {
	margin-top: 15px;
}
#section17 .navigate-btn-fr17 {
	width: 22em;
	left: 1em;
	bottom: 1.2em;
	position: absolute;
	text-align: center;
}
#section17 .navigate-btn-fr17 a,
#section16 .navigate-btn a,
#section15 .navigate-btn-fr15 a,
#section14 .navigate-btn a {
	font-size: 17px;
}
#section15 .navigate-btn-fr15 a br {
	display: none;
}
#section15 .navigate-btn-fr15 {
	width: 21em;
	left: 1em;
	bottom: 1em;
	position: absolute;
	text-align: center;
}
#section14 .navigate-btn {
	width: 15em;
	left: 4.5em;
	bottom: 1.2em;
	position: absolute;
	text-align: center;
}
#section16 .navigate-btn {
	width: 22em;
	left: 1em;
	bottom: 1.2em;
	position: absolute;
	text-align: center;
}
#section16 .graph-fr16 {
	display: block;
	width: 18em;
}
#section16 .graph-fr16-web {
	display: none;
}
#section16 .graph-fr16 img {
	width: 100%;
}
#section16 .Graph-83 {
	display: flex;
}
/* #section15 .fr-14-content,#section14 .fr-14-content {width: 50%;} */

#section15 .fr-14-content .points,
#section14 .fr-14-content .points {
	font-size: 17px
}
#section15 .graph,
#section14 .graph {
	width: 18em;
}
.carousel {
	overflow: auto;
	white-space: nowrap;
}
.carousel .answerBoxImg-fr11 {
	display: inline-block;
	width: 232px !important;
	margin: 0 10px;
}
#section18 .answerBoxImg-fr11>.content {
	position: absolute;
	top: 29px;
	font-size: 18px;
	text-align: center;
	padding: 0 10px;
	z-index: -1;
	white-space: normal;
}
#section18 .number-fr18 {
	position: absolute;
	padding: 2px 9px;
	text-align: center;
	top: 0px;
	background: #fbad18;
	left: 6em;
}
#section16 .navigation-section {
	display: none;
}
/* -----------media query-------- */

@media (min-width: 320px) and (max-width: 350px) {
	.navbar>a>img {
		width: 55px;
	}
	.mr-160 {
		margin-top: 145px;
	}
	.mr-180 {
		margin-top: 150px;
	}
	.heading-2 {
		font-size: 21px;
	}
	.heading-1 {
		font-size: 15px;
	}
	.content,
	.content-white {
		font-size: 14px;
	}
	.navigation-section>a>img {
		width: 12px;
	}
	.navigate-mob {
		width: 124px;
	}
	.navigate-mob>a {
		font-size: 14px;
	}
	#fr3-body>.navigate-btn {
		width: 14em;
	}
	#fr3-body>.navigate-btn a {
		font-size: 14px;
	}
	#fr3-body>.content-white>br {
		display: none;
	}
	#fr3-body {
		padding: 0 2em;
	}
	.mr-253 {
		margin-top: 210px;
	}
	.timer-color {
		top: 13px;
		height: 4px;
	}
	.timer-img>.carIcon {
		width: 46px;
	}
	#fr5-content-body>.share-button {
		left: 46px;
	}
	#fr5-body>.navigate-btn {
		left: 9em;
	}
	.answerBoxImg,
	.web-board {
		display: none;
	}
	.answerBoxImg,
	.answerBoxImg-fr8,
	.answerBoxImg-fr9,
	.answerBoxImg-fr11,
	.answerBoxImg-fr13 {
		width: 260px;
		margin: auto;
		position: relative;
	}
	.share-button {
		width: 10em;
		padding: 0px 5px;
	}
	#section5 .mr-20 {
		margin-top: 10px;
	}
	.answerBoxImg-fr8>.content,
	.answerBoxImg-fr13>.content {
		position: absolute;
		top: 16px;
		padding: 0 10px;
	}
	.answerBoxImg-fr9>.heading-1 {
		left: 0px;
		font-size: 23px;
	}
	#fr9-body>.navigate-btn {
		width: 9em;
		left: 60px;
	}
	#section10 .mr-235 {
		margin-top: 197px;
	}
	.answerBoxImg-fr11>.content>.heading-2,
	.answerBoxImg-fr11>.content,
	.answerBoxImg-fr13>.content>.heading-2,
	.answerBoxImg-fr8>.content>.heading-2 {
		font-size: 14px;
	}
	.answerBoxImg-fr11>.content {
		position: absolute;
		top: 10px;
	}
	#section12 .mr-253 {
		margin-top: 220px;
	}
	.answerBoxImg-fr13>.navigate-btn-fr13 {
		width: 15em;
		position: absolute;
		left: 11px;
		bottom: 22px;
	}
	.answerBoxImg-fr13>.navigate-btn-fr13>a {
		font-size: 13px;
	}
	#section14 .frame-content,
	#section15 .frame-content,
	#section16 .frame-content,
	#section17 .frame-content {
		padding: 0 1.5em;
	}
	#section14 .heading,
	#section15 .heading,
	#section16 .heading,
	#section17 .heading {
		font-size: 16px;
	}
	#section14 .fr-14-content .points,
	#section15 .fr-14-content .points,
	#section16 .Graph-83-para p {
		font-size: 14px;
	}
	#section14 .mr-12 {
		margin-top: 8px;
	}
	#section14 .mannual-graph {
		display: none;
	}
	#section14 .graph,
	#section15 .graph,
	#section16 .graph-fr16 {
		width: 15em;
	}
	#section14 .navigate-btn {
		width: 13em;
		left: 2.5em;
		bottom: 1em;
		position: absolute;
		text-align: center;
	}
	#section14 .navigate-btn a {
		font-size: 14px;
	}
	#section15 .navigate-btn-fr15 {
		width: 18em;
		left: 1em;
		bottom: 1em;
		position: absolute;
		text-align: center;
	}
	#section15 .navigate-btn-fr15 a {
		font-size: 12px;
	}
	#section16 .navigate-btn {
		width: 18em;
		left: 1em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section16 .navigate-btn a {
		font-size: 14px;
	}
	#section16 .Graph-83-para .mr-12 {
		margin-top: 10px;
	}
	#section17 .mr-20 {
		margin-top: 20px;
	}
	#section17 .frame-content .graph-content .graph {
		margin: 0;
		position: relative;
		width: 270px;
	}
	#section17 .frame-content .graph-content .graph .graph-para {
		padding: 0 0px 0 87px;
		font-size: 16px;
		position: absolute;
		top: 45px;
	}
	#section17 .navigate-btn-fr17 {
		width: 18em;
		left: 1em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section17 .navigate-btn-fr17 a {
		font-size: 14px;
	}
	#section18 .share-button {
		width: 12em;
		padding: 0px 5px;
	}
	.carousel .answerBoxImg-fr11 {
		display: inline-block;
		width: 210px !important;
	}
	#section18 .answerBoxImg-fr11>.content {
		position: absolute;
		top: 29px;
		font-size: 14px;
		text-align: center;
		padding: 0 10px;
		z-index: -1;
		white-space: normal;
	}
}
@media (min-width: 360px) and (max-width: 370px) {
	.navbar>a>img {
		width: 55px;
	}
	.mr-160 {
		margin-top: 166px;
	}
	.mr-180 {
		margin-top: 165px;
	}
	.heading-2 {
		font-size: 23px;
	}
	.heading-1 {
		font-size: 16px;
	}
	.content,
	.content-white {
		font-size: 15px;
	}
	.navigation-section>a>img {
		width: 12px;
	}
	.navigate-mob {
		width: 124px;
	}
	.navigate-mob>a {
		font-size: 15px;
	}
	#fr3-body>.navigate-btn {
		width: 15em;
	}
	#fr3-body>.navigate-btn a {
		font-size: 15px;
	}
	#fr3-body>.content-white>br {
		display: none;
	}
	#fr3-body {
		padding: 0 3em;
	}
	.mr-253 {
		margin-top: 245px;
	}
	.timer-color {
		top: 13px;
		height: 4px;
	}
	.timer-img>.carIcon {
		width: 46px;
	}
	#fr5-content-body>.share-button {
		left: 62px;
		width: 10.5em;
	}
	#fr5-body>.navigate-btn {
		left: 9em;
	}
	.answerBoxImg,
	.web-board {
		display: none;
	}
	.answerBoxImg,
	.answerBoxImg-fr8,
	.answerBoxImg-fr9,
	.answerBoxImg-fr11,
	.answerBoxImg-fr13 {
		width: 300px;
		margin: auto;
		position: relative;
	}
	.share-button {
		width: 10em;
		padding: 0px 5px;
	}
	#section5 .mr-20 {
		margin-top: 10px;
	}
	.answerBoxImg-fr8>.content,
	.answerBoxImg-fr13>.content {
		position: absolute;
		top: 25px;
		padding: 0 10px;
	}
	.answerBoxImg-fr9>.heading-1 {
		left: 0px;
		font-size: 23px;
		padding: 0 2em;
	}
	#fr9-body>.navigate-btn {
		width: 9em;
		left: 78px;
	}
	#section10 .mr-235 {
		margin-top: 225px;
	}
	.answerBoxImg-fr11>.content>.heading-2,
	.answerBoxImg-fr11>.content,
	.answerBoxImg-fr13>.content>.heading-2,
	.answerBoxImg-fr8>.content>.heading-2 {
		font-size: 15px;
	}
	.answerBoxImg-fr11>.content {
		position: absolute;
		top: 20px;
	}
	#section12 .mr-253 {
		margin-top: 250px;
	}
	.answerBoxImg-fr13>.navigate-btn-fr13 {
	    width: 16em;
    position: absolute;
    left: 20px;
    bottom: 22px;
	}
	.answerBoxImg-fr13>.navigate-btn-fr13>a {
		font-size: 14px;
	}
	#section14 .frame-content,
	#section15 .frame-content,
	#section16 .frame-content,
	#section17 .frame-content {
		padding: 0 1.5em;
	}
	#section14 .heading,
	#section15 .heading,
	#section16 .heading,
	#section17 .heading {
		font-size: 16px;
		text-align: left;
	}
	#section14 .fr-14-content .points,
	#section15 .fr-14-content .points,
	#section16 .Graph-83-para p {
		font-size: 15px;
	}
	#section14 .mr-12 {
		margin-top: 8px;
	}
	#section14 .mannual-graph {
		display: none;
	}
	#section14 .graph,
	#section15 .graph,
	#section16 .graph-fr16 {
		width: 17em;
	}
	#section14 .navigate-btn {
		width: 13em;
		left: 2.5em;
		bottom: 1em;
		position: absolute;
		text-align: center;
	}
	#section14 .navigate-btn a {
		font-size: 14px;
	}
	#section15 .navigate-btn-fr15 {
		width: 18em;
		left: 2em;
		bottom: 1em;
		position: absolute;
		text-align: center;
	}
	#section15 .navigate-btn-fr15 a {
		font-size: 12px;
	}
	#section16 .navigate-btn {
		width: 18em;
		left: 2em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section16 .navigate-btn a {
		font-size: 14px;
	}
	#section16 .Graph-83-para .mr-12 {
		margin-top: 10px;
	}
	#section16 .share-button{width: 10.5em;}
	#section17 .mr-20 {
		margin-top: 20px;
	}
	#section17 .frame-content .graph-content .graph {
		margin: 0;
		position: relative;
		width: 270px;
	}
	#section17 .frame-content .graph-content .graph .graph-para {
		padding: 0 0px 0 87px;
		font-size: 16px;
		position: absolute;
		top: 45px;
	}
	#section17 .navigate-btn-fr17 {
		width: 18em;
		left: 2em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section17 .navigate-btn-fr17 a {
		font-size: 14px;
	}
	#section18 .share-button {
		width: 12em;
		padding: 0px 5px;
	}
	.carousel .answerBoxImg-fr11 {
		display: inline-block;
		margin: 0 5px;
		width: 210px !important;
	}
	#section18 .answerBoxImg-fr11>.content {
		position: absolute;
		top: 29px;
		font-size: 14px;
		text-align: center;
		padding: 0 10px;
		z-index: -1;
		white-space: normal;
	}
}
@media (min-width: 400px) and (max-width: 550px) {
	.navbar>a>img {
		width: 55px;
	}
	.mr-160 {
		margin-top: 190px;
	}
	.mr-180 {
		margin-top: 190px;
	}
	.heading-2 {
		font-size: 27px;
	}
	.heading-1 {
		font-size: 19px;
	}
	.content,
	.content-white {
		font-size: 16.5px;
	}

	#section3 .content-white{font-size: 18.5px;}
	.navigation-section>a>img {
		width: 12px;
	}
	.navigate-mob {
		width: 124px;
	}
	.navigate-mob>a {
		font-size: 16px;
	}
	#fr3-body>.navigate-btn {
		width: 18em;
	}
	#fr3-body>.navigate-btn a {
		font-size: 18px;
	}
	#fr3-body>.content-white>br {
		display: none;
	}
	#fr3-body {
		padding: 0 3em;
	}
	.mr-253 {
		margin-top: 278px;
	}
	#section .timer-color {
		top: 19px;}
	.timer-color {
		top: 19px;
		height: 4px;
	}
	.timer-img>.carIcon {
		width: 46px;
	}
	#fr5-content-body>.share-button {
		left: 76px;
		width: 12em;
	}
	#fr5-content-body>.share-button p {
		font-size: 17px;
	}
	#fr5-body>.navigate-btn {
		left: 9em;
	}
	.answerBoxImg,
	.web-board {
		display: none;
	}
	.answerBoxImg,
	.answerBoxImg-fr8,
	.answerBoxImg-fr9,
	.answerBoxImg-fr11,
	.answerBoxImg-fr13 {
		width: 350px;
		margin: auto;
		position: relative;
	}
	.share-button {
		width: 10em;
		padding: 0px 5px;
	}
	#section5 .mr-20 {
		margin-top: 10px;
	}
	.answerBoxImg-fr8>.content,
	.answerBoxImg-fr13>.content {
		position: absolute;
		top: 30px;
		padding: 0 10px;
		font-size: 17px;
	}
	.answerBoxImg-fr9>.heading-1 {
		left: 0px;
		font-size: 26px;
		padding: 0 2em;
	}
	#fr9-body>.navigate-btn {
		width: 10em;
		left: 90px;
		bottom: 40px;
	}
	#fr9-body>.navigate-btn a{
		font-size: 18px;
	}

	#section10 .mr-235 {
		margin-top: 250px;
	}
	.answerBoxImg-fr11>.content>.heading-2,
	.answerBoxImg-fr11>.content,
	.answerBoxImg-fr13>.content>.heading-2,
	.answerBoxImg-fr8>.content>.heading-2 {
		font-size: 17px;
	}
	.answerBoxImg-fr11>.content {
		position: absolute;
		top: 10px;
	}
	#section12 .mr-253 {
		margin-top: 280px;
	}
	.answerBoxImg-fr13>.navigate-btn-fr13 {
		width: 18em;
		position: absolute;
		left: 32px;
		bottom: 22px;
	}
	.answerBoxImg-fr13>.navigate-btn-fr13>a {
		font-size: 16px;
	}
	#section14 .frame-content,
	#section15 .frame-content,
	#section16 .frame-content,
	#section17 .frame-content {
		padding: 0 1.5em;
	}
	#section14 .heading,
	#section15 .heading,
	#section16 .heading,
	#section17 .heading {
		font-size: 20px;
		text-align: left;
	}
	#section14 .number, #section15 .number ,#section17 .number{
		font-size: 20px;}
	#section14 .fr-14-content .points,
	#section15 .fr-14-content .points,
	#section16 .Graph-83-para p {
		font-size: 18px;
	}
	#section16 .Graph-83-para p {
		padding: 0 10px;}
	#section14 .share-button, 
	#section15 .share-button,
	#section16 .share-button
	{width: 12em;}
	#section14 .share-button p,
	#section15 .share-button p,
	#section16 .share-button p
	{font-size: 16px;}
	#section14 .mr-12 {
		margin-top: 8px;
	}
	#section14 .mannual-graph {
		display: none;
	}
	#section14 .graph,
	#section15 .graph,
	#section16 .graph-fr16 {
		width: 19em;
	}
	#section14 .navigate-btn {
		width: 17em;
		left: 2.5em;
		bottom: 1em;
		position: absolute;
		text-align: center;
	}
	#section15 .mr-12 {
		margin-top: 17px;
	}
	#section14 .navigate-btn a {
		font-size: 17px;
	}
	#section15 .navigate-btn-fr15 {
		width: 24em;
		left: 1em;
		bottom: 1em;
		position: absolute;
		text-align: center;
	}
	#section15 .navigate-btn-fr15 a {
		font-size: 17px;
	}
	#section16 .navigate-btn {
		width: 21em;
		left: 2em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section16 .navigate-btn a {
		font-size: 17px;
	}
	#section16 .Graph-83-para .mr-12 {
		margin-top: 10px;
	}
	#section17 .mr-20 {
		margin-top: 20px;
	}
	#section17 .frame-content .graph-content .graph {
		margin: 0;
		position: relative;
		width: 355px;
	}
	#section17 .frame-content .graph-content .graph .graph-para {
		padding: 0 0 0 94px;
    font-size: 18px;
    position: absolute;
    top: 76px;
	}
	#section17 .navigate-btn-fr17 {
		width: 22em;
		left: 2em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section17 .navigate-btn-fr17 a {
		font-size: 17px;
	}
	#section18 .share-button {
		width: 12em;
		padding: 0px 5px;
	}
	.carousel .answerBoxImg-fr11 {
		display: inline-block;
		width: 230px !important;
	}
	#section18 .answerBoxImg-fr11>.content {
		position: absolute;
		top: 29px;
		font-size: 16px;
		text-align: center;
		padding: 0 10px;
		z-index: -1;
		white-space: normal;
	}
}
@media (min-width: 600px) and (max-width: 767px) {
	.navbar>a>img {
		width: 55px;
	}
	.mr-160 {
		margin-top: 145px;
	}
	.mr-180 {
		margin-top: 150px;
	}
	.heading-2 {
		font-size: 21px;
	}
	.heading-1 {
		font-size: 15px;
	}
	.content,
	.content-white {
		font-size: 14px;
	}
	.navigation-section>a>img {
		width: 12px;
	}
	.navigate-mob {
		width: 124px;
	}
	.navigate-mob>a {
		font-size: 14px;
	}
	#fr3-body>.navigate-btn {
		width: 14em;
	}
	#fr3-body>.navigate-btn a {
		font-size: 14px;
	}
	#fr3-body>.content-white>br {
		display: none;
	}
	#fr3-body {
		padding: 0 2em;
	}
	.mr-253 {
		margin-top: 210px;
	}
	.timer-color {
		top: 13px;
		height: 4px;
	}
	.timer-img>.carIcon {
		width: 46px;
	}
	#fr5-content-body>.share-button {
		left: 46px;
	}
	#fr5-body>.navigate-btn {
		left: 9em;
	}
	.answerBoxImg,
	.web-board {
		display: none;
	}
	.answerBoxImg,
	.answerBoxImg-fr8,
	.answerBoxImg-fr9,
	.answerBoxImg-fr11,
	.answerBoxImg-fr13 {
		width: 260px;
		margin: auto;
		position: relative;
	}
	.share-button {
		width: 10em;
		padding: 0px 5px;
	}
	#section5 .mr-20 {
		margin-top: 10px;
	}
	.answerBoxImg-fr8>.content,
	.answerBoxImg-fr13>.content {
		position: absolute;
		top: 16px;
		padding: 0 10px;
	}
	.answerBoxImg-fr9>.heading-1 {
		left: 0px;
		font-size: 23px;
	}
	#fr9-body>.navigate-btn {
		width: 9em;
		left: 60px;
	}
	#section10 .mr-235 {
		margin-top: 197px;
	}
	.answerBoxImg-fr11>.content>.heading-2,
	.answerBoxImg-fr11>.content,
	.answerBoxImg-fr13>.content>.heading-2,
	.answerBoxImg-fr8>.content>.heading-2 {
		font-size: 14px;
	}
	.answerBoxImg-fr11>.content {
		position: absolute;
		top: 10px;
	}
	#section12 .mr-253 {
		margin-top: 220px;
	}
	.answerBoxImg-fr13>.navigate-btn-fr13 {
		width: 15em;
		position: absolute;
		left: 11px;
		bottom: 22px;
	}
	.answerBoxImg-fr13>.navigate-btn-fr13>a {
		font-size: 13px;
	}
	#section14 .frame-content,
	#section15 .frame-content,
	#section16 .frame-content,
	#section17 .frame-content {
		padding: 0 1.5em;
	}
	#section14 .heading,
	#section15 .heading,
	#section16 .heading,
	#section17 .heading {
		font-size: 16px;
	}
	#section14 .fr-14-content .points,
	#section15 .fr-14-content .points,
	#section16 .Graph-83-para p {
		font-size: 14px;
	}
	#section14 .mr-12 {
		margin-top: 8px;
	}
	#section14 .mannual-graph {
		display: none;
	}
	#section14 .graph,
	#section15 .graph,
	#section16 .graph-fr16 {
		width: 15em;
	}
	#section14 .navigate-btn {
		width: 13em;
		left: 2.5em;
		bottom: 1em;
		position: absolute;
		text-align: center;
	}
	#section14 .navigate-btn a {
		font-size: 14px;
	}
	#section15 .navigate-btn-fr15 {
		width: 18em;
		left: 1em;
		bottom: 1em;
		position: absolute;
		text-align: center;
	}
	#section15 .navigate-btn-fr15 a {
		font-size: 12px;
	}
	#section16 .navigate-btn {
		width: 18em;
		left: 1em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section16 .navigate-btn a {
		font-size: 14px;
	}
	#section16 .Graph-83-para .mr-12 {
		margin-top: 10px;
	}
	#section17 .mr-20 {
		margin-top: 20px;
	}
	#section17 .frame-content .graph-content .graph {
		margin: 0;
		position: relative;
		width: 270px;
	}
	#section17 .frame-content .graph-content .graph .graph-para {
		padding: 0 0px 0 87px;
		font-size: 16px;
		position: absolute;
		top: 45px;
	}
	#section17 .navigate-btn-fr17 {
		width: 18em;
		left: 1em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section17 .navigate-btn-fr17 a {
		font-size: 14px;
	}
	#section18 .share-button {
		width: 12em;
		padding: 0px 5px;
	}
	.carousel .answerBoxImg-fr11 {
		display: inline-block;
		width: 210px !important;
	}
	#section18 .answerBoxImg-fr11>.content {
		position: absolute;
		top: 29px;
		font-size: 14px;
		text-align: center;
		padding: 0 10px;
		z-index: -1;
		white-space: normal;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	#section1 .frame-contentBody {
		background-image: url(../images/fr_desk/fr1_desk_1024.png);
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: cover;
		position: static;
		top: 0;
		display: flex;
		height: 100vh;
		padding-top: 170px;
		width: 100%;
	}

	.video-section {
		display: none;
	}
	.video-section-web {
		display: block;
	}
	.video-section-web-img {
		display: block;
		transform: scale(1, 2);
	}
	.navbar {
		padding: 30px;
	}
	.navbar>a>img {
		width: 80px;
	}
	.mr-160 {
		margin-top: 150px;
	}
	.heading-2 {
		font-size: 40px;
	}
	.heading-1 {
		font-size: 30px;
	}
	.content,
	.content-white {
		font-size: 25px;
	}
	.line-img {
		margin: 10px 0;
	}
	.line-img>img {
		width: 132px;
		height: 4px;
		text-align: center;
	}
	.content-bold {
		color: #fbad18;
	}
	.navigation-section>a>img {
		width: 18px;
	}
	.navigate-mob {
		display: none;
	}
	.navigate-desk {
		display: block;
		width: 600px;
	}
	.navigate-desk>a,
	.navigate-btn {
		font-size: 28px;
	}
	.flag{display: none;}
	.flag-web {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	.flag-web #flag1 {
		left: -130px;
		width: 133px;
		position: absolute;
	}
	.flag-web #flag2 {
		right: -130px;
		width: 133px;
		position: absolute;
	}
	.mr-10 {
		margin-top: 20px;
	}
	#sec2-framebody>.heading-1 {
		display: none;
	}
	#sec2-framebody>.line-img {
		display: none;
	}
	#sec2-framebody>.heading-2 {
		text-transform: uppercase;
	}
	.board {
		display: none;
	}
	.web-board,
	.fr4-webboard {
		display: flex;
		justify-content: center;
	}
	#section12 .web-board>img {
		width: 32em;
		margin-left: 88px;
	}
	.web-board>img {
		width: 32em;
	}
	#section10 .fr4-boardsection {
		top: 14em;
	}
	.fr4-webboard>img,
	#section7 .web-board>img,
	#section10 .web-board>img {
		width: 37em;
	}
	#section12 .fr4-boardsection {
		top: 19em;
	}
	#fr3-body>.navigate-btn {
		left: 3em;
		bottom: -2em;
		width: 16em;
	}
	.mr-180 {
		margin-top: 150px;
	}
	.fr4-board {
		display: none;
	}
	.fr4-boardsection {
		position: absolute;
		left: 19em;
		padding: 0;
		top: 15.5em;
	}
	.fr4-boardsection>.timer-img>.timer-color {
		height: 6px;
		top: 24px;
	}
	.fr4-boardsection>.timer-img>.carIcon {
		width: 60px;
		animation: carMovement 10s;
		animation-fill-mode: both;
		animation-iteration-count: 1;
	}
	@keyframes carMovement {
		form {
			transform: translateX(10px)
		}
		to {
			transform: translateX(368px);
		}
	}
	.fr4-boardsection>.timer-img>.trackIcon {
		width: 68%;
	}
	#section5>.frame-contentBody>.mr-160 {
		margin-top: 80px;
	}
	.answerBoxImg {
		width: 550px;
	}
	.fr5-content-body>.share-button>.li>img {
		width: 40px;
	}
	.share-button>p {
		font-size: 25px;
	}
	#fr5-content-body>.share-button {
		left: 64px;
		position: absolute;
		bottom: 32px;
	}
	#fr5-body>.navigate-btn {
		width: 9em;
		left: 3.5em;
		bottom: -1em;
	}
	#section17 .fr14-heading,
	#section16 .fr14-heading,
	#section15 .fr14-heading,
	#section14 .fr14-heading {
		display: flex;
	}
	#section17 .number,
	#section16 .number,
	#section15 .number,
	#section14 .number,
	#section16B .number {
		font-size: 28px;
		padding: 4px 11px;
		text-align: center;
		background: #fbad18;
	}
	#section17 .heading,
	#section16 .heading,
	#section15 .heading,
	#section14 .heading,
	#section16B .heading {
		font-size: 28px;
		padding: 6px 13px;
		font-weight: bold;
		background-color: #000;
		color: #fbad18;
	}
	#section17 .frame-content,
	#section16 .frame-content,
	#section15 .frame-content,
	#section14 .frame-content {
		padding: 0 3em;
	}
	#section17 .frame-content .graph-content,
	#section15 .graph-content,
	#section14 .graph-content-fr14 {
		display: flex;
		justify-content: space-between;
	}
	#section17 .frame-content .graph-content .graph {
		margin: 0;
		position: relative;
		width: 400px;
	}
	#section17 .frame-content .graph-content .graph img,
	#section15 .graph img,
	#section14 .graph img {
		width: 100%;
	}
	#section17 .frame-content .graph-content .graph .graph-para {
		padding: 0 0px 0 123px;
		font-size: 25px;
		position: absolute;
		top: 70px;
	}
	#section17 .mr-60,
	#section16 .mr-60,
	#section15 .mr-60,
	#section15 .mr-60,
	#section14 .mr-60 {
		margin-top: 90px;
	}
	#section17 .mr-20,
	#section16 .mr-12 {
		margin-top: 45px;
	}
	#section15 .mr-30,
	#section14 .mr-30 {
		margin-top: 15px;
	}
	#section17 .navigate-btn-fr17 {
		width: 30em;
		left: 30em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section17 .navigate-btn-fr17 a,
	#section16 .navigate-btn a,
	#section15 .navigate-btn-fr15 a,
	#section14 .navigate-btn a {
		font-size: 22px;
	}
	#section15 .navigate-btn-fr15 a br {
		display: none;
	}
	#section15 .navigate-btn-fr15 {
		width: 32em;
		left: 28em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section14 .navigate-btn {
		width: 12em;
		left: 22em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section16 .navigate-btn {
		/* width: 17em;
		left: 18em;
		bottom: 1.2em;
		position: absolute;
		text-align: center; */
		display: none;
	}
	#section16 .navigation-section{display: block;}
	#section16 .graph-fr16 {
		display: none;
	}
	#section16B .frame-content {
		padding: 0px 3em;
	}
	#section16B .fr14-heading {
		display: flex;
	}
	#section16B .navigate-btn {
		position: absolute;
		bottom: 1em;
		right: 1em;
	}
	#section16B .graph-content {
		display: block;
	}
	#section16B .frame-content {
		text-align: left;
	}
	#section16B .Graph-83 {
		display: flex;
		justify-content: space-evenly;
	}
	#section16B .mr-12 {
		margin-top: 45px;
	}
	#section16B .mr-60 {
		margin-top: 90px;
	}
	#section16B .Graph-83-img {
		width: 20%;
	}
	#section16B .Graph-83-para {
		width: 55%;
		font-size: 26px;
	}
	#section16B .share-button {
		width: 9em;}
	#section16 .graph-fr16-web {
		display: block;
		width: 56em;
	}
	#section16 .graph-fr16-web img {
		width: 100%;
	}
	#section16 .Graph-83 {
		display: none;
	}
	#section15 .fr-14-content,
	#section14 .fr-14-content {
		width: 50%;
	}
	#section15 .fr-14-content .points,
	#section14 .fr-14-content .points {
		font-size: 26px;
		margin: 40px 0;
	}
	#section15 .graph,
	#section14 .graph {
		width: 27em;
		margin-top: 40px;
	}

	.answerBoxImg,
	.answerBoxImg-fr8,
	.answerBoxImg-fr9,
	.answerBoxImg-fr11,
	.answerBoxImg-fr13 {
		width: 490px;
		margin: auto;
		position: relative;
	}
	.answerBoxImg-fr13>.navigate-btn-fr13 {
		width: 25em;
		position: absolute;
		left: 50px;
		bottom: 22px;
	}
	.answerBoxImg-fr13>.navigate-btn-fr13>a {
		font-size: 22px;
	}
	.answerBoxImg-fr8>.content,
	.answerBoxImg-fr13>.content,
	.answerBoxImg-fr11>.content {
		font-size: 25px;
	}
	.answerBoxImg-fr8>.content>.heading-2,
	.answerBoxImg-fr11>.content>.heading-2 {
		font-size: 25px;
	}
	.answerBoxImg-fr9>.heading-1 {
		left: 0px;
		font-size: 40px;
	}
	.answerBoxImg-fr9>.navigate-btn {
		position: absolute;
		left: 114px;
		bottom: 38px;
	}
	#section18 .answerBoxImg-fr11 {
		width: 345px !important;
		margin: 0 10px;
	}
	.carousel {
		overflow: auto;
		white-space: nowrap;
	}
	.carousel .answerBoxImg-fr11 {
		display: inline-block;
		width: 399px !important;
	}
	#section18 .answerBoxImg-fr11>.content {
		position: absolute;
		top: 29px;
		font-size: 24px;
		text-align: center;
		padding: 0 10px;
		z-index: -1;
		white-space: normal;
	}
	#section18 .number-fr18 {
		position: absolute;
		padding: 3px 12px;
		text-align: center;
		top: 0px;
		background: #fbad18;
		left: 10em;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	#section1 .frame-contentBody {
		background-image: url(../images/fr_desk/fr1_desk_1024.png);
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: cover;
		position: static;
		top: 0;
		display: flex;
		height: 100vh;
		padding-top: 135px;
		width: 100%;
	}
	.flag {
		display: block;
		width: 160px;
		margin: auto;}
.flag img {width: 100%;}
.flag-web{display: none;}
	.video-section {
		display: none;
	}
	.video-section-web {
		display: block;
		transform: scale(1, 2);
	}
	.video-section-web-img {
		display: block;
		transform: scale(1, 1.8);
	}
	.f1 {
		display: block;
	}
	.navbar {
		padding: 30px;
	}
	.navbar>a>img {
		width: 80px;
	}
	.mr-160 {
		margin-top: 200px;
	}
	.heading-2 {
		font-size: 40px;
	}
	.heading-1 {
		font-size: 30px;
	}
	.content,
	.content-white {
		font-size: 28px;
	}
	.line-img {
		margin: 10px 0;
	}
	.line-img>img {
		width: 132px;
		height: 4px;
		text-align: center;
	}
	.navigation-section>a>img {
		width: 18px;
	}
	.content-bold {
		color: #fbad18;
	}
	.navigate-mob {
		display: none;
	}
	.navigate-desk {
		display: block;
		width: 580px;
	}
	.navigate-desk>a {
		font-size: 28px;
	}
	.mr-10 {
		margin-top: 20px;
	}
	#sec2-framebody>.heading-1 {
		display: none;
	}
	#sec2-framebody>.line-img {
		display: none;
	}
	#sec2-framebody>.heading-2 {
		text-transform: uppercase;
	}
	.board {
		display: none;
	}
	.web-board,
	.fr4-webboard {
		display: flex;
		justify-content: center;
	}
	.web-board>img {
		width: 32em;
	}
	.fr4-webboard>img {
		width: 37em;
	}
	.navigate-btn {
		width: 23em;
	}
	.mr-180 {
		margin-top: 160px;
	}
	#fr3-body>.navigate-btn {
		width: 18em;
		font-size: 24px;
	}
	.fr4-board {
		display: none;
	}

	#section7 .web-board>img {
		width: 37em;
	}
	#section10 .web-board>img {
		width: 41em;
	}
	.answerBoxImg, .answerBoxImg-fr8, .answerBoxImg-fr9, .answerBoxImg-fr11, .answerBoxImg-fr13 {
		width: 500px;
		margin: auto;
		position: relative;
	}
	.answerBoxImg-fr8>.content, .answerBoxImg-fr13>.content, .answerBoxImg-fr11>.content {
		font-size: 25px;}
		.answerBoxImg-fr8>.content>.heading-2, .answerBoxImg-fr11>.content>.heading-2 {
			font-size: 25px;
		}
		.answerBoxImg-fr9>.heading-1 {
			left: 0px;
			font-size: 40px;
			padding: 0 2em;
		}
		.answerBoxImg-fr8>.content, .answerBoxImg-fr13>.content, .answerBoxImg-fr11>.content {
			font-size: 25px;
		}
		.answerBoxImg-fr8>.content>.heading-2, .answerBoxImg-fr11>.content>.heading-2 {
			font-size: 25px;
		}
	#section9 .answerBoxImg-fr9>.navigate-btn {
			position: absolute;
			width: 12em;
			left: 156px;
			bottom: 60px;}
			.answerBoxImg-fr9>.navigate-btn a{font-size: 25px;}
			#section12 .web-board img{margin-left: 6em;}
			#section12 .fr4-boardsection {top: 19em;}
	.fr4-boardsection {
		position: absolute;
		left: 11em;
		padding: 0;
		top: 15.5em;
	}
	.fr4-boardsection>.timer-img>.timer-color {
		height: 6px;
		top: 24px;
	}
	.fr4-boardsection>.timer-img>.carIcon {
		width: 60px;
		animation: carMovement 10s;
		animation-fill-mode: both;
		animation-iteration-count: 1;
	}
	@keyframes carMovement {
		form {
			transform: translateX(10px)
		}
		to {
			transform: translateX(368px);
		}
	}
	.fr4-boardsection>.timer-img>.trackIcon {
		width: 86%;
	}
	.answerBoxImg {
		width: 550px;
	}
	.fr5-content-body>.share-button>.li>img {
		width: 40px;
	}
	.share-button>p {
		font-size: 27px;
	}
	#fr5-content-body>.share-button {
		left: 135px;
		position: absolute;
		bottom: 48px;
	}
	#fr5-body>.navigate-btn {
		width: 13em;
		left: 3.5em;
		bottom: -1em;
	}
	#fr5-body>.navigate-btn a{font-size: 24px;}
	/* --section17-- */
	#section17 .fr14-heading,
	#section16 .fr14-heading,
	#section15 .fr14-heading,
	#section14 .fr14-heading {
		display: flex;
	}
	#section17 .number,
	#section16 .number,
	#section15 .number,
	#section14 .number {
		font-size: 28px;
		padding: 4px 11px;
		text-align: center;
		background: #fbad18;
	}
	#section17 .heading,
	#section16 .heading,
	#section15 .heading,
	#section14 .heading {
		font-size: 28px;
		padding: 6px 13px;
		font-weight: bold;
		background-color: #000;
		color: #fbad18;
	}
	#section17 .frame-content,
	#section16 .frame-content,
	#section15 .frame-content,
	#section14 .frame-content {
		padding: 0 3em;
	}
	#section17 .frame-content .graph-content,
	#section15 .graph-content,
	#section14 .graph-content-fr14 {
		display: block;
	}
	#section17 .frame-content .graph-content .graph {
		margin: 0;
		position: relative;
		width: 460px;
	}
	#section17 .frame-content .graph-content .graph img,
	#section15 .graph img,
	#section14 .graph img {
		width: 100%;
	}
	#section17 .frame-content .graph-content .graph .graph-para {
		padding: 0 0px 0 123px;
		font-size: 29px;
		position: absolute;
		top: 70px;
	}
	#section18 .mr-20 {
		margin-top: 40px;
	}
	#section17 .mr-60,
	#section16 .mr-60,
	#section15 .mr-60,
	#section15 .mr-60,
	#section14 .mr-60 {
		margin-top: 90px;
	}
	#section17 .mr-20,
	#section16 .mr-12,
	#section .mr-20 {
		margin-top: 45px;
	}
	#section15 .mr-30,
	#section14 .mr-30 {
		margin-top: 15px;
	}
	#section17 .navigate-btn-fr17 {
		width: 30em;
		left: 8em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section17 .navigate-btn-fr17 a,
	#section16 .navigate-btn a,
	#section15 .navigate-btn-fr15 a,
	#section14 .navigate-btn a {
		font-size: 22px;
	}
	#section15 .navigate-btn-fr15 a br {
		display: none;
	}
	#section15 .navigate-btn-fr15 {
		width: 32em;
		left: 8em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section14 .navigate-btn {
		width: 20em;
		left: 13em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section16 .navigate-btn {
		width: 27em;
		left: 9em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section16 .graph-fr16 {
		display: block;
		width: 27em;
	}
	#section16 .graph-fr16 img {
		width: 100%;
	}
	#section16 .graph-fr16-web {
		display: none;
	}
	#section16 .graph-fr16-web img {
		width: 100%;
	}
	#section16 .Graph-83 {
		display: flex;
	}
	#section16 .Graph-83-para {
		font-size: 24px;
		padding: 0 0 0 115;
	}
	#section16 .Graph-83-para br {
		display: none;
	}
	#section16 .circle_percent {
		font-size: 220px;
	}
	#section16 .percent_text {
		font-size: 60px;
	}
	#section16 .share-button {
		width: 10em;
	}
	#section15 .fr-14-content,
	#section14 .fr-14-content {
		width: 80%;
	}
	#section15 .fr-14-content .points,
	#section14 .fr-14-content .points {
		font-size: 26px;
	}
	#section15 .graph,
	#section14 .graph {
		width: 27em;
		margin-top: 40px;
	}
	.answerBoxImg-fr13 {
		width: 490px;
		margin: auto;
		position: relative;
	}
	.answerBoxImg-fr13>.navigate-btn-fr13 {
		width: 25em;
		position: absolute;
		left: 50px;
		bottom: 22px;
	}
	.answerBoxImg-fr13>.navigate-btn-fr13>a {
		font-size: 22px;
	}
	.carousel {
		overflow: auto;
		white-space: nowrap;
	}
	.carousel .answerBoxImg-fr11 {
		display: inline-block;
		width: 399px !important;
		margin: 0 10px;
	}
	#section18 .answerBoxImg-fr11>.content {
		position: absolute;
		top: 36px;
		font-size: 28px;
		text-align: center;
		padding: 0 10px;
		z-index: -1;
		white-space: normal;
	}
	#section18 .number-fr18 {
		position: absolute;
		padding: 3px 12px;
		text-align: center;
		top: 0px;
		background: #fbad18;
		left: 10em;
	}
}
@media only screen and (min-width: 1224px) {
	.video-section {
		display: none;
	}
	.video-section-web {
		display: block;
		transform: scale(1, 1);
	}
	#section1 .frame-contentBody {
		background-image: url(../images/fr_desk/fr1_desk_1024.png);
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: cover;
		position: static;
		top: 0;
		display: flex;
		height: 100vh;
		padding-top: 100px;
		width: 100%;
	}
	.video-section {
		display: none;
	}
	.video-section-web {
		display: block;
	}
	.video-section-web-img {
		display: block;
		transform: scale(1, 2);
	}
	.navbar {
		padding: 30px;
	}
	.navbar>a>img {
		width: 80px;
	}
	.mr-160 {
		margin-top: 150px;
	}
	.heading-2 {
		font-size: 40px;
	}
	.heading-1 {
		font-size: 30px;
	}
	.content,
	.content-white {
		font-size: 25px;
	}
	.line-img {
		margin: 10px 0;
	}
	.line-img>img {
		width: 132px;
		height: 4px;
		text-align: center;
	}
	.content-bold {
		color: #fbad18;
	}
	.navigation-section>a>img {
		width: 18px;
	}
	.navigate-mob {
		display: none;
	}
	.navigate-desk {
		display: block;
		width: 600px;
	}
	.navigate-desk>a,
	.navigate-btn {
		font-size: 28px;
	}
	.download-img>a>img {
		width: 50px;
	}
	.flag-web {
		display: flex;
		justify-content: space-between;
	}
	.flag-web img {
		width: 50px;
	}
	.mr-10 {
		margin-top: 20px;
	}
	#sec2-framebody>.heading-1 {
		display: none;
	}
	#sec2-framebody>.line-img {
		display: none;
	}
	#sec2-framebody>.heading-2 {
		text-transform: uppercase;
	}
	.board {
		display: none;
	}
	.web-board,
	.fr4-webboard {
		display: flex;
		justify-content: center;
	}
	#section12 .web-board>img {
		width: 32em;
		margin-left: 88px;
	}
	.web-board>img {
		width: 32em;
	}
	#section10 .fr4-boardsection {
		top: 14em;
	}
	.fr4-webboard>img,
	#section7 .web-board>img,
	#section10 .web-board>img {
		width: 37em;
	}
	#section12 .fr4-boardsection {
		top: 19em;
	}
	#fr3-body>.navigate-btn {
		left: 3em;
		bottom: -2em;
		width: 16em;
	}
	.mr-180 {
		margin-top: 150px;
	}
	.fr4-board {
		display: none;
	}
	.fr4-boardsection {
		position: absolute;
		left: 28em;
		padding: 0;
		top: 15.5em;
	}
	.fr4-boardsection>.timer-img>.timer-color {
		height: 6px;
		top: 25px;
	}
	.fr4-boardsection>.timer-img>.carIcon {
		width: 60px;
		animation: carMovement 10s;
		animation-fill-mode: both;
		animation-iteration-count: 1;
	}
	@keyframes carMovement {
		form {
			transform: translateX(10px)
		}
		to {
			transform: translateX(368px);
		}
	}
	.fr4-boardsection>.timer-img>.trackIcon {
		width: 58%;
	}
	#section5>.frame-contentBody>.mr-160 {
		margin-top: 80px;
	}
	.answerBoxImg {
		width: 550px;
	}
	.fr5-content-body>.share-button>.li>img {
		width: 40px;
	}
	.share-button>p {
		font-size: 25px;
	}
	#fr5-content-body>.share-button {
		left: 64px;
		position: absolute;
		bottom: 32px;
	}
	#fr5-body>.navigate-btn {
		width: 9em;
		left: 3.5em;
		bottom: -1em;
	}
	#section17 .fr14-heading,
	#section16 .fr14-heading,
	#section15 .fr14-heading,
	#section14 .fr14-heading {
		display: flex;
	}
	#section17 .number,
	#section16 .number,
	#section15 .number,
	#section14 .number,
	#section16B .number {
		font-size: 28px;
		padding: 4px 11px;
		text-align: center;
		background: #fbad18;
	}
	#section17 .heading,
	#section16 .heading,
	#section15 .heading,
	#section14 .heading,
	#section16B .heading {
		font-size: 28px;
		padding: 6px 13px;
		font-weight: bold;
		background-color: #000;
		color: #fbad18;
	}
	#section17 .frame-content,
	#section16 .frame-content,
	#section15 .frame-content,
	#section14 .frame-content {
		padding: 0 3em;
	}
	#section17 .frame-content .graph-content,
	#section15 .graph-content,
	#section14 .graph-content-fr14 {
		display: flex;
		justify-content: space-between;
		padding: 0 4em;
	}
	#section17 .frame-content .graph-content .graph {
		margin: 0;
		position: relative;
		width: 500px;
	}
	#section17 .frame-content .graph-content .graph img,
	#section15 .graph img,
	#section14 .graph img {
		width: 100%;
	}
	#section17 .frame-content .graph-content .graph .graph-para {
		padding: 0 0px 0 123px;
		font-size: 25px;
		position: absolute;
		top: 70px;
	}
	#section17 .mr-60,
	#section16 .mr-60,
	#section16B .mr-60,
	#section15 .mr-60,
	#section15 .mr-60,
	#section14 .mr-60 {
		margin-top: 90px;
	}
	#section17 .mr-20,
	#section16 .mr-12 {
		margin-top: 45px;
	}
	#section15 .mr-30,
	#section14 .mr-30 {
		margin-top: 15px;
	}
	#section17 .navigate-btn-fr17 {
		width: 30em;
		left: 46em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section17 .navigate-btn-fr17 a,
	#section16 .navigate-btn a,
	#section15 .navigate-btn-fr15 a,
	#section14 .navigate-btn a {
		font-size: 22px;
	}
	#section15 .navigate-btn-fr15 a br {
		display: none;
	}
	#section15 .navigate-btn-fr15 {
		width: 32em;
		left: 48em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section14 .navigate-btn {
		width: 12em;
		left: 31em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section16 .navigate-btn {
		width: 17em;
		left: 27em;
		bottom: 1.2em;
		position: absolute;
		text-align: center;
	}
	#section16 .graph-fr16 {
		display: none;
	}
	#section16 .graph-fr16-web {
		display: block;
		width: 70em;
	}
	#section16B .share-button{
		width: 9em;
	}
	#section16B .share-button p{
		font-size: 23px;
	}
	#section16 .graph-fr16-web img {
		width: 100%;
	}
	#section16 .Graph-83 {
		display: none;
	}
	#section15 .fr-14-content,
	#section14 .fr-14-content {
		width: 50%;
	}
	#section15 .fr-14-content .points,
	#section14 .fr-14-content .points {
		font-size: 26px;
		margin: 40px 0;
	}
	#section15 .graph,
	#section14 .graph {
		width: 27em;
		margin-top: 40px;
	}
	.answerBoxImg,
	.answerBoxImg-fr8,
	.answerBoxImg-fr9,
	.answerBoxImg-fr11,
	.answerBoxImg-fr13 {
		width: 490px;
		margin: auto;
		position: relative;
	}
	.answerBoxImg-fr13>.navigate-btn-fr13 {
		width: 25em;
		position: absolute;
		left: 50px;
		bottom: 22px;
	}
	.answerBoxImg-fr13>.navigate-btn-fr13>a {
		font-size: 22px;
	}
	.answerBoxImg-fr8>.content,
	.answerBoxImg-fr13>.content,
	.answerBoxImg-fr11>.content {
		font-size: 25px;
	}
	.answerBoxImg-fr8>.content>.heading-2,
	.answerBoxImg-fr11>.content>.heading-2 {
		font-size: 25px;
	}
	.answerBoxImg-fr9>.heading-1 {
		left: 0px;
		font-size: 40px;
	}
	.answerBoxImg-fr9>.navigate-btn {
		position: absolute;
		left: 114px;
		bottom: 38px;
	}
	#section18 .answerBoxImg-fr11 {
		width: 400px !important;
	}
	.carousel {
		overflow: auto;
		white-space: nowrap;
	}
	.carousel .answerBoxImg-fr11 {
		display: inline-block;
		width: 399px !important;
	}
	#section18 .answerBoxImg-fr11>.content {
		position: absolute;
		top: 40px;
    font-size: 26px;
		text-align: center;
		padding: 0 10px;
		z-index: -1;
		white-space: normal;
	}
	#section18 .number-fr18 {
		position: absolute;
		padding: 3px 12px;
		text-align: center;
		top: 0px;
		background: #fbad18;
		left: 10em;
	}
	#section18 .frame-content {
		padding: 0 22em;
	}
	.mannual-graph {
		width: 500px;
		position: relative;
	}
	.mannual-graph img {
		width: 100%;
	}
	.mannual-graph p:first-of-type {
		position: absolute;
		top: 16em;
		left: 4em;
		color: blue;
	}
	#section16 .navigate-btn {
		display: none;
	}
	#section16 .navigation-section {
		display: block;
	}
	#section16B .frame-content {
		padding: 0px 3em;
	}
	#section16B .fr14-heading {
		display: flex;
	}
	#section16B .navigate-btn {
		position: absolute;
		bottom: 1em;
		right: 1em;
	}
	#section16B .graph-content {
		display: block;
	}
	#section16B .frame-content {
		text-align: left;
	}
	#section16B .Graph-83 {
		display: flex;
		justify-content: space-evenly;
	}
	#section16B .mr-12 {
		margin-top: 45px;
	}
	#section16B .Graph-83-img {
		width: 20%;
	}
	#section16B .Graph-83-para {
		width: 55%;
		font-size: 30px;
	}
}
/* specific */

@media (width: 360px) and (height: 700px) {
	.video-section {
		transform: scale(1.1, 1.4);
	}
}
@media (width: 411px) and (height: 823px) {
	.video-section {
		transform: scale(1, 1.5);
	}
}
@media (width: 375px) and (height: 812px) {
	.video-section {
		transform: scale(1, 1.5);
	}
}
@media (width: 360px) and (height: 740px) {
	.video-section {
		transform: scale(1.1, 1.4);
	}
}