.video-section,
.video-section-web {
	position: absolute;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
	width: 100%;
	background-image: linear-gradient(#efeeef, #7e7c7e);
}
.video-section-web {
	display: none;
}
.video-section-web-img {
	display: none;
}
button {
	outline: none;
	cursor: pointer;
	border-radius: 3px;
}
.navbar {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 11;
	padding: 1.2em;
	display: flex;
	justify-content: space-between;
}
.navbar .logo {
	width: 4em;
}
.navbar .logo img {
	width: 100%;
}
.navbar .download-arrow-web{display: none;}
.navbar .download-arrow  {
	width: 2.2em;
}
.navbar .download-arrow img,
.download-btn img {
	width: 100%;
}
.download-btn {
	width: 10.5em;
	cursor: pointer;
	margin: auto;
}
/* common */

#section1 .frame-contentBody,
#section2 .frame-contentBody {
	margin: 0;
	position: absolute;
	top: 40%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#section1 .heading-2,
#section2 .heading-2 {
	font-size: 1.6em;
}
#section1 .heading-1,
#section2 .heading-1,
#section5 .heading-1 {
	font-size: 1.25em;
}
#section1 .line-img,
#section2 .line-img {
	padding-bottom: .5em;
}
#section1 .content,
#section2 .content,
#section3 .content-white,
#section8 .content {
	font-size: 1em;
}
/* section 1 || 8 || 11 */

#section1 .navigation-section,
#section8 .navigation-section,
#section11 .navigation-section {
	position: absolute;
	bottom: 1em;
	left: 49%;
	width: 1em;
	cursor: pointer;
}
#section1 .navigation-section a img,
#section8 .navigation-section a img,
#section11 .navigation-section a img {
	width: 100%;
}
#section1 .flag-web {
	display: none
}
#section1 .flag {
	width: 7em;
	margin: auto;
}
#section1 .flag img {
	width: 100%;
}
/* section 2 */

#section2 .navigate-desk {
	display: none;
}
#section2 .navigate-mob {
	margin-top: 1em;
	display: block;
	font-size: 1em;
}
#section2 .fr2-heading {
	display: block;
}
/* section 3 || 4 || 7 || 10*/

#section3 .board,
#section4 .fr4-board,
#section7 .fr4-board,
#section10 .fr4-board,
#section12 .fr4-board {
	width: 18em;
	margin: auto;
	position: relative;
}
#section3 .board .board-img,
#section4 .fr4-board .board-img,
#section7 .fr4-board .board-img,
#section10 .fr4-board .board-img,
#section12 .fr4-board .board-img {
	width: 100%;
}
#section3 .board .timer-img,
#section4 .fr4-board .timer-img,
#section7 .fr4-board .timer-img,
#section12 .fr4-board .timer-img {
	position: absolute;
	bottom: 0;
	left: 7px;
}
#section3 .frame-contentBody {
	margin: 0;
	position: absolute;
	top: 24%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
/* #section3 .board{display: ;} */

#section3 .web-board {
	display: none;
}
#section3 .navigate-btn {
	margin-top: 2em;
	font-size:1em;
}
/* section 4 || 7 */

#section4 .frame-contentBody,
#section7 .frame-contentBody,
#section10 .frame-contentBody,
#section12 .frame-contentBody {
	position: relative;
}
#section4 .timer-img .carIcon,
#section7 .timer-img .carIcon,
#section10 .timer-img .carIcon,
#section12 .timer-img .carIcon {
	position: absolute;
	top: 6px;
	left: 7px;
	width: 3em;
}
#section4 .trackIcon,
#section7 .trackIcon,
#section10 .trackIcon {
	width: 250px;
	/* margin-bottom:3em ; */
	margin: 0 0 3em 1em;
}
#section12 .trackIcon {
	width: 250px;
	margin: 0 0 2em 1em;
}
#section4 .timer-color,
#section7 .timer-color,
#section10 .timer-color,
#section12 .timer-color {
	background-color: #fbad18;
	height: 3px;
	top: 14px;
	left: 1.2em;
	position: absolute;
	width: 0;
}
#section4 .fr4-webboard {
	display: none;
}
/* section 5 || 8 || 9 */

#section5 .answerBoxImg {
	/* width: 18.5em; */
	position: relative;
}
#section5 .answerBoxImg .box-img,
#section8 .answerBoxImg-fr8 .box-img,
#section9 .answerBoxImg-fr9 .box-img,
#section11 .answerBoxImg-fr11 .box-img,
#section13 .answerBoxImg-fr13 .box-img {
	width: 100%;
}
#section5 .frame-contentBody,
#section8 .frame-contentBody,
#section9 .frame-contentBody,
#section11 .frame-contentBody,
#section13 .frame-contentBody {
	margin: 0;
	position: absolute;
	top: 35%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#section5 .share-button {
	width: 9em;
	display: flex;
	align-items: center;
	padding: 0.1em .5em;
	position: absolute;
	bottom: 1em;
	left: 4.5em;
}
#section5 .share-button .shareText {
	font-size: .8em;
	color: black;
}
#section5 .share-button .twi {
	width: 1em;
	padding: 0;
}
#section5 .share-button .twi img {
	width: 100%;
	padding: 0;
}
#section5 .share-button .li {
	width: 1.3em;
}
#section5 .share-button .li img {
	width: 100%;
}
#section5 .mr-20 {
	margin-top: 1em;
}
/* section7 */

#section7 .web-board {
	display: none;
}
/* section 8 || 9 || 11*/

#section8 .answerBoxImg-fr8, #section5 .answerBoxImg-fr5,
#section9 .answerBoxImg-fr9,
#section11 .answerBoxImg-fr11,
#section13 .answerBoxImg-fr13 {
	width: 19em;
	position: relative;
	margin: auto;
}
#section8 .frame-content,
#section11 .frame-content,
#section13 .frame-content {
	position: relative;
}
#section8 .content, #section5 .content {
	top: 1.5em;
	position: absolute;
	padding: 0 1em;
}
/* section9 */

#section9 .frame-content {
	position: relative;
}
#section9 .heading-1 {
	padding: 0 1em;
    font-size: 1.8em;
	position: absolute;
	top: .5em;
}
#section9 .navigate-btn {
	position: absolute;
	left: 4.5em;
	bottom: 1.5em;
	width: 10em;
	padding: .5em;
}
/* section10 */

#section10 .fr4-board .timer-img {
	position: absolute;
	bottom: 25px;
	left: 7px;
}
#section10 .web-board {
	display: none;
}
/* section11 */

#section11 .content {
	top: 2em;
	position: absolute;
	padding: 0 1em;
}
/* section12 */

#section12 .timer-img {
	left: 4em;
	/* top: -4em; */
	position: absolute;
}
#section12 .web-board {
	display: none;
}
/* section13 */

#section13 .content {
	top: 2em;
	position: absolute;
	padding: 0 1em;
}
#section13 .navigate-btn-fr13 {
	position: absolute;
    left: 1.7em;
    font-size: .9em;
    bottom: 1.5em;
    padding: .5em;

}
#section14 .navigate-btn {
	position: absolute;
	bottom: 1.5em;
	left: 4.5em;
}
#section14 .mr-60,
#section15 .mr-60,
#section16 .mr-60,
#section16B .mr-60,
#section17 .mr-60 {
	padding-top: 4em;
}
#section14 .fr14-heading,
#section15 .fr14-heading,
#section16 .fr14-heading,
#section16B .fr14-heading,
#section17 .fr14-heading {
	display: flex;
}
#section14 .number,
#section15 .number,
#section16 .number,
#section16B .number,
#section17 .number {
	padding: 6px 12px;
	text-align: center;
	font-size: 18px;
	top: 0px;
	font-weight: bold;
	background: #fbad18;
	left: 6em;
	border-radius: 3px 0 0 3px;
}
#section14 .heading,
#section15 .heading,
#section16 .heading,
#section16B .heading,
#section17 .heading {
	font-size: 1.1em;
	padding: 0.3em 1em;
	font-weight: bold;
	background-color: #000;
	color: #fbad18;
	text-align: left;
}
#section14 .fr-14-content,
#section15 .fr-14-content {
	text-align: left;
	position: relative;
}
#section14 .points,
#section15 .points {
	font-size: 1.1em;
}
#section14 .mr-12,
#section15 .mr-12,
#section16 .mr-12 {
	padding-top: 1em;
}
#section14 .mr-20,
#section15 .mr-20 {
	padding-top: 1em;
}
#section14 .share-button {
	width: 9em;
	padding: 0.1em .5em;
	margin: 0;
}
#section14 .share-button .shareText {
	font-size: .8em;
	color: black;
}
#section14 .share-button .twi {
	width: 1em;
	padding: 0;
}
#section14 .share-button .twi img {
	width: 100%;
	padding: 0;
}
#section14 .share-button .li {
	width: 1.3em;
}
#section14 .share-button .li img {
	width: 100%;
}
#section14 .graph {
	width: 19em;
}
#section14 .graph img {
	width: 100%;
}
/* section15 */

#section15 .share-button {
	width: 9em;
	padding: 0.1em .5em;
	margin: 0;
}
#section15 .share-button .shareText {
	font-size: .8em;
	color: black;
}
#section15 .share-button .twi {
	width: 1em;
	padding: 0;
}
#section15 .share-button .twi img {
	width: 100%;
	padding: 0;
}
#section15 .share-button .li {
	width: 1.3em;
}
#section15 .share-button .li img {
	width: 100%;
}
#section15 .graph,
#section16 .graph-fr16,
#section17 .graph {
	width: 19em;
}
#section15 .graph img,
#section16 .graph-fr16 img,
#section17 .graph img {
	width: 100%;
}
#section15 .navigate-btn-fr15 {
	position: absolute;
	bottom: 1.5em;
	left: 1.5em;
	font-size: .9em;
}
/* section 16 */

#section16 .navigate-btn {
	position: absolute;
	bottom: 1.5em;
	left: 3.5em;
	font-size: .9em;
}
#section16 .Graph-83 {
	display: flex;
	margin-top: 20px;
}
#section16 .Graph-83-para {
	text-align: left;
}
#section16 .Graph-83 .mr-20 {
	margin-left: 1em;
}
#section16 .navigation-section {
	display: none;
}
#section16 .share-button {
	width: 9em;
	padding: 0.1em .5em;
	margin: 0;
}
#section16 .share-button .shareText {
	font-size: .8em;
	color: black;
}
#section16 .share-button .twi {
	width: 1em;
	padding: 0;
}
#section16 .share-button .twi img {
	width: 100%;
	padding: 0;
}
#section16 .share-button .li {
	width: 1.3em;
}
#section16 .share-button .li img {
	width: 100%;
}
/* #section16	.graph-fr16{display: block;} */

#section16 .graph-fr16-web {
	display: none;
}
/* section17 */

#section17 .navigate-btn-fr17 {
	position: absolute;
	bottom: 1.5em;
	left: 3em;
	font-size: .9em;

}
#section17 .mr-20 {
	padding-top: 1em;
}
#section17 .graph-content {
	padding-left: 15px;
}
#section17 .graph {
	position: relative;
}
#section17 .graph-para {
	position: absolute;
	bottom: 4em;
	font-size: 17px;
	text-align: left;
	padding: 0 0 0 6.5em;
}
/* section18 */

#section18 .frame-content .content {
	font-size: 18px;
	color: black;
}
#section18 .carousel {
	overflow: auto;
	white-space: nowrap;
	text-align: center;
}
#section18 .carousel .answerBoxImg-fr11 {
	display: inline-block;
	width: 232px !important;
	margin: 0 10px;
	position: relative;
	opacity: 0.5;
}
#section18 .carousel .answerBoxImg-fr11:hover {
	opacity: 1;
}
#section18 .carousel .answerBoxImg-fr11 img {
	width: 100%;
}
#section18 .answerBoxImg-fr11>.content {
	position: absolute;
	top: 29px;
	font-size: 16px;
	text-align: center;
	padding: 0 10px;
	z-index: -1;
	white-space: normal;
}
#section18 .number-fr18 {
	position: absolute;
	padding: 3px 12px;
	text-align: center;
	top: 0px;
	background: #fbad18;
	border-radius: 3px;
	left: 6em;
}
#section18 .mr-90 {
	padding-top: 5em;
}
#section18 .mr-20 {
	padding-top: 2em;
}
#section18 .share-button {
	width: 10em;
	padding: 0.1em .5em;
	/* margin: auto; */
}
#section18 .share-button .shareText {
	font-size: .8em;
	color: black;
}
#section18 .share-button .twi {
	width: 1em;
	padding: 0;
}
#section18 .share-button .twi img {
	width: 100%;
	padding: 0;
}
#section18 .share-button .li {
	width: 1.3em;
}
#section18 .share-button .li img {
	width: 100%;
}
.custom-graph .pro-graph-2 {
	/* display: none; */
}
.pro-graph-1,
.pro-graph-3,
.pro-graph-4,
.pro-graph-2 {
	background-image: url(../images/C-graph.png);
	background-size: cover;
	width: 20em;
	padding: 1em;
	position: relative;
	height: 14em;
}
.pro-graph-1 .sub-heading,
.pro-graph-3 .sub-heading,
.pro-graph-4 .sub-heading,
.pro-graph-2 .sub-heading {
	color: #03A9F4;
	font-size: 18px;
	padding: 5px;
	border-radius: 10px;
	margin-top: 10px;
	border: 1px solid black;
}
.bar {
	height: 3px;
	background-color: #3c4354;
	color: #3c4354;
	margin-top: 5px;
}
.pro-graph-1 .content .CG-heading,
.pro-graph-3 .content .CG-heading,
.pro-graph-4 .content .CG-heading,
.pro-graph-2 .content .CG-heading {
	color: #000;
	font-size: 14px;
	font-weight: bold;
}
.pro-graph-1 .CG-detail,
.pro-graph-3 .CG-detail,
.pro-graph-4 .CG-detail,
.pro-graph-2 .CG-detail {
	padding-top: 12px;
}
.pro-block .pr-line {
	width: 30%;
	padding-right: 10px;
	text-align: right;
}
.pro-block .pr-title {
	width: 50%;
	text-align: start;
	padding-left: 10px;
}
.pro-block {
	display: flex;
	font-size: 15px;
	justify-content: flex-end;
	margin-bottom: 10px
}
.slick-dots {
	list-style: none;
	display: flex;
	justify-content: center;
}
.slick-dots button {
	display: none;
}
.slick-dots li {
	margin-right: 5px;
}
.slick-dots li::before {
	content: ' ';
	border-radius: 50%;
	display: inline-block;
	height: 5px;
	width: 5px;
	background-color: black;
}
/* ***************************************************** */

@media (min-width: 320px) and (max-width: 350px) {
	#section1 .heading-2,
	#section2 .heading-2 {
		font-size: 1.3em;
	}
	#section3 .frame-contentBody {
		top: 29%;
	}
	#section5 .answerBoxImg {
		width: 16.5em;
	}
	#section5 .share-button {
		left: 3.5em;
	}
	#section8 .answerBoxImg-fr8,
	#section9 .answerBoxImg-fr9,
	#section11 .answerBoxImg-fr11,
	#section13 .answerBoxImg-fr13 {
		width: 17em;
	}
	#section8 .content {
		top: 1em;
		padding: 0 1em;
	}
	#section9 .heading-1 {
		font-size: 1.7em;
	}
	#section9 .navigate-btn {
		left: 4.5em;
		bottom: 0.5em;
		width: 8em;
		padding: .5em;
	}
	#section10 .timer-img {
		left: 2em;
	}
	#section11 .content {
		top: 1em;
		padding: 0 .5em;
	}
	#section12 .timer-img {
		left: 2em;
	}
	#section13 .navigate-btn-fr13 {
		position: absolute;
		left: 2em;
		bottom: 1.5em;
		font-size: 12px;
		width: 19em;
		padding: .5em;
	}
	#section14 .heading,
	#section15 .heading,
	#section16 .heading,
	#section16B .heading,
	#section17 .heading {
		font-size: 1em;
	}
	#section14 .points,
	#section15 .points {
		font-size: .9em;
	}
	#section14 .graph {
		width: 15em;
	}
	#section14 .navigate-btn {
		left: 3.5em;
	}
	#section15 .graph,
	#section16 .graph-fr16,
	#section17 .graph {
		width: 16em;
	}
	#section15 .navigate-btn-fr15 {
		left: 1.5em;
		font-size: 12px;
	}
	#section16 .Graph-83-para p {
		font-size: 13px;
	}
	#section16 .navigate-btn {
		left: 1.5em;
	}
	#section16 .mr-12 {
		padding-top: 0.2em;
	}
	#section17 .navigate-btn-fr17 {
		left: 1em;
	}
	#section17 .graph-para {
		bottom: 2em;
		font-size: 16px;
	}
	#section18 .frame-content .content {
		font-size: 14px;
	}
	#section18 .mr-20 {
		padding-top: 1em;
	}
	#section18 .carousel .answerBoxImg-fr11 {
		width: 210px !important;
	}
	#section14 .mr-12,
	#section15 .mr-12,
	#section16 .mr-12 {
		padding-top: 0.5em;
	}
	.pro-graph-1,
	.pro-graph-2,
	.pro-graph-3,
	.pro-graph-4 {
		width: 17em;
		height: 12em;
	}
	.pro-graph-1 .sub-heading,
	.pro-graph-2 .sub-heading,
	.pro-graph-3 .sub-heading,
	.pro-graph-4 .sub-heading {
		font-size: 16px;
		margin-top: 5px;
	}
	.pro-block {
		font-size: 13px;
		margin-bottom: 3px;
	}
}
@media (min-width: 360px) and (max-width: 370px) {
	#section10 .timer-img {
		left: 3em;
	}
	#section12 .timer-img {
		left: 3em;
	}
	#section14 .mr-12,
	#section16 .mr-12 {
		padding-top: 0.5em;
	}
	#section14 .mr-20,
	#section15 .mr-20 {
		padding-top: 0.5em;
	}
	#section14 .points,
	#section15 .points {
		font-size: 1em;
	}
	#section15 .mr-12 {
		padding-top: 1.5em;
	}
	.pro-graph-1,
	.pro-graph-2,
	.pro-graph-3,
	.pro-graph-4 {
		height: 14.5em;
	}
	.pro-graph-1 .sub-heading,
	.pro-graph-2 .sub-heading,
	.pro-graph-3 .sub-heading,
	.pro-graph-4 .sub-heading {
		margin-top: 8px;
	}
}
@media (min-width: 400px) and (max-width: 600px) {
	#section1 .content,
	#section2 .content,
	#section3 .content-white,
	#section8 .content {
		font-size: 1.1em;
	}
	#section2 .navigate-mob {
		width: 9em;
	}
	#section2 .navigate-desk {
		display: none;
	}
	#section3 .board,
	#section4 .fr4-board,
	#section7 .fr4-board,
	#section10 .fr4-board,
	#section12 .fr4-board {
		width: 19em;
	}
	#section3 .navigate-btn {
		width: 18em;
		font-size: 14px;
	}
	#section5 .navigate-btn {
		width: 10em;
	}
	#section5 .content {
		padding: 0 .8em;
	}
	#section10 .timer-img {
		left: 5em;
	}
	#section12 .timer-img {
		left: 5em;
	}
	#section14 .navigate-btn {
		left: 5.5em;
		font-size: 16px;
	}
	#section15 .navigate-btn-fr15 {
		left: 1em;
		font-size: 16px;
	}
	#section16 .navigate-btn {
		left: 3em;
		font-size: 16px;
	}
	#section16 .Graph-83-para p {
		font-size: 18px;
	}
	#section17 .graph {
		width: 20em;
	}
	#section17 .navigate-btn-fr17 {
		left: 2.5em;
		font-size: 16px;
	}
	.pro-graph-1,
	.pro-graph-2,
	.pro-graph-3,
	.pro-graph-4 {
		width: 22em;
		height: 15em;
	}
}
@media (width: 411px) and (height: 823px) {
	#section3 .frame-contentBody {
		margin: 0;
		position: absolute;
		top: 22%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}
@media (width: 375px) and (height: 812px) {
	#section3 .frame-contentBody {
		margin: 0;
		position: absolute;
		top: 22%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}
@media (min-width: 650px) and (max-width: 1024px) {
	#section1 .content{    padding: 0 2em;}
	#section4 .timer-img,
	#section7 .timer-img {
		bottom: 1.5em !important;
		left: 25px !important;
	}
	#section4 .timer-img .carIcon,
	#section7 .timer-img .carIcon,
	#section10 .timer-img .carIcon,
	#section12 .timer-img .carIcon {
		position: absolute;
		top: 7px;
		left: 0px;
		width: 4em;
	}
	#section4 .trackIcon,
	#section7 .trackIcon,
	#section10 .trackIcon,
	#section12 .trackIcon {
		width: 22em;
	}
	#section4 .timer-color,
	#section7 .timer-color,
	#section10 .timer-color,
	#section12 .timer-color {
		background-color: #fbad18;
		height: 4px;
		top: 20px;
		left: 20px;
		position: absolute;
	}
	.navbar .logo {
		width: 5em;
	}
	.navbar .download-arrow {
		/* width: 3em; */
		display: none;
	}
	.navbar .download-arrow-web  {
		display: block;
		width: 3em;
	}
	.navbar .download-arrow-web img
	{
		width: 100%;
	}
	#section1 .heading-2,
	#section2 .heading-2 {
		font-size: 2.5em;
	}
	#section1 .heading-1,
	#section2 .heading-1
	{
		font-size: 2em;
	}
	#section5 .heading-1 {
		font-size: 2em;
		margin-top: 1em;
	}
	#section1 .content,
	#section2 .content,
	#section3 .content-white,
	#section8 .content {
		font-size: 1.6em;
	}
	#section1 .navigation-section,
	#section8 .navigation-section,
	#section11 .navigation-section {
		width: 1.2em;
	}
	#section1 .flag {
		width: 10em;
	}
	#section2 .navigate-mob {
		margin-top: 1em;
		font-size: 24px;
	}
	#section2 .navigate-desk {
		display: none;
	}
	#section3 .board,
	#section4 .fr4-board,
	#section7 .fr4-board,
	#section10 .fr4-board {
		width: 27em;
	}
	#section12 .fr4-board {
		width: 24em;
	}
	#section3 .frame-contentBody {
		top: 25%;
	}
	#section3 .navigate-btn {
		margin-top: 2em;
		font-size: 24px;
	}

	#section5 .share-button {
		width: 12em;
		display: flex;
		align-items: center;
		padding: 0.1em .5em;
		position: absolute;
		bottom: 0em;
		left: 8.5em;
	}
	#section5 .share-button .shareText {
		font-size: 1.3em;
		color: black;
	}
	#section5 .share-button .twi {
		width: 1.2em;
		padding: 0;
	}
	#section5 .share-button .twi img {
		width: 100%;
		padding: 0;
	}
	#section5 .share-button .li {
		width: 1.5em;
	}
	#section5 .share-button .li img {
		width: 100%;
	}
	#section5 .mr-20 {
		margin-top: 1em;
	}
	#section5 .navigate-btn {
		font-size: 24px;
	}
	#section8 .answerBoxImg-fr8,	
	#section5 .answerBoxImg .answerBoxImg-fr5,
	#section9 .answerBoxImg-fr9,
	#section11 .answerBoxImg-fr11,
	#section13 .answerBoxImg-fr13 {
		width: 30em;
	}
	#section8 .content,#section5 .content {
		top: 1em;
		font-size: 28px;
		padding: 0 1em;
	}
	#section9 .heading-1 {
		font-size: 3em;
	}
	#section9 .navigate-btn {
		position: absolute;
		left: 5em;
		font-size: 24px;
	}
	#section10 .timer-img {
		bottom: 50px !important;
		left: 25px !important;
	}
	#section11 .content {
		top: 1em;
		font-size: 26px;
		padding: 0 .5em;
	}
	#section12 .timer-img {
		left: 16em;
	}
	#section13 .content {
		font-size: 26px;
	}
	#section13 .navigate-btn-fr13 {
		position: absolute;
		left: 1.5em;
		bottom: 1.5em;
		font-size: 22px;
		width: 19em;
		padding: .5em;
	}
	#section14 .frame-content,
	#section15 .frame-content,
	#section16 .frame-content,
	#section16B .frame-content,
	#section17 .frame-content {
		padding: 0 3em !important;
	}
	#section14 .graph-content-fr14,
	#section15 .graph-content,
	#section16 .graph-content,
	#section16B .graph-content,
	#section17 .graph-content {
		padding-left: 2em;
	}
	#section14 .mr-60,
	#section15 .mr-60,
	#section16 .mr-60,
	#section16B .mr-60,
	#section17 .mr-60 {
		padding-top: 6em;
	}
	#section14 .number,
	#section15 .number,
	#section16 .number,
	#section16B .number,
	#section17 .number {
		font-size: 1.7em;
	}
	#section14 .heading,
	#section15 .heading,
	#section16 .heading,
	#section16B .heading,
	#section17 .heading {
		font-size: 1.8em;
	}
	#section14 .points,
	#section15 .points {
		font-size: 1.5em;
	}
	#section14 .graph {
		/* width: 26em; */    width: 18em;
	}
	#section14 .navigate-btn {
		left: 8.5em;
		font-size: 24px;
	}
	#section14 .share-button {
		width: 12em;
		padding: 0.1em .5em;
		margin: 0;
	}
	#section14 .share-button .shareText {
		font-size: 1.3em;
		color: black;
	}
	#section14 .share-button .twi {
		width: 1.2em;
		padding: 0;
	}
	#section14 .share-button .li {
		width: 1.5em;
	}
	/* #section15 .graph, */
	#section16 .graph-fr16,
	#section17 .graph {
		width: 27em;
	}
	#section15 .mr-12 {
		padding-top: 1.5em;
	}
	#section15 .navigate-btn-fr15 {
		left: 4.5em;
		font-size: 24px;
	}
	#section15 .share-button {
		width: 12em;
		padding: 0.1em .5em;
		margin: 0;
	}
	#section15 .share-button .shareText {
		font-size: 1.3em;
		color: black;
	}
	#section15 .share-button .twi {
		width: 1.2em;
		padding: 0;
	}
	#section15 .share-button .li {
		width: 1.5em;
	}
	#section14 .fr-14-content,
	#section15 .fr-14-content {
		/* width: 50%; */
		position: relative;
		padding-right: 12px;
	}
	#section16 .Graph-83-para p {
		font-size: 24px;
	}
	#section16 .navigate-btn {
		left: 6.5em;
		font-size: 24px;
	}
	#section16 .mr-12 {
		padding-top: 1.2em;
	}
	#section16 .share-button {
		width: 12em;
		padding: 0.1em .5em;
		margin: 0;
	}
	#section16 .Graph-83 {
		margin-top: 40px;
	}
	#section16 .share-button .shareText {
		font-size: 1.3em;
		color: black;
	}
	#section16 .share-button .twi {
		width: 1.2em;
		padding: 0;
	}
	#section16 .share-button .li {
		width: 1.5em;
	}
	#section17 .navigate-btn-fr17 {
		left: 5em;
		font-size: 24px;
	}
	#section17 .graph-para {
		bottom: 3em;
		font-size: 25px;
	}
	#section18 .mr-90 {
		padding-top: 8em;
	}
	#section18 .content {
		font-size: 28px !important;
	}
	#section18 .content .content-yellow {
		font-size: 26px !important;
	}
	#section18 .carousel .answerBoxImg-fr11 {
		margin: 0px 15px;
		width: 300px !important;
	}
	#section18 .carousel .answerBoxImg-fr11 .content {
		font-size: 22px !important;
	}
	#section18 .number-fr18 {
		left: 7.5em;
	}
	#section18 .answerBoxImg-fr11 .content {
		font-size: 21px;
	}
	#section18 .share-button {
		width: 15em;
		padding: 0.1em .5em;
		margin: auto;
	}
	#section18 .share-button .shareText {
		font-size: 1.3em;
		color: black;
	}
	#section18 .share-button .twi {
		width: 1.2em;
		padding: 0;
	}
	#section18 .share-button .li {
		width: 1.7em;
	}
	.pro-graph-1,
	.pro-graph-2,
	.pro-graph-3,
	.pro-graph-4 {
		/* width: 24em; */
		height: 16em;
	}
	.pro-graph-1 .content .CG-heading,
	.pro-graph-2 .content .CG-heading,
	.pro-graph-3 .content .CG-heading,
	.pro-graph-4 .content .CG-heading {
		color: #000;
		font-size: 16px;
	}
	.pro-block {
		display: flex;
		font-size: 17px;
	}
	/* #section15 .slick-slide, #section15 slick-list .draggable{width: 288px!important;} */
}
@media (min-width: 650px) and (max-width: 1024px) and (orientation: landscape) {
	#section1 .frame-contentBody {
		background-image: url(../images/fr_desk/fr1_desk_1024.png);
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 100vh;
		padding-top: 170px;
		width: 100%;
		transform: translateY(0);
		top: 0;
	}
	#section1 .content{    padding: 0 ;}
	#section1 .flag-web {
		position: relative;
		display: block;
	}
	#section1 .flag {
		display: none;
	}
	.flag1,
	.flag2 {
		position: absolute;
		width: 7em;
	}
	.flag1 {
		left: -5em;
	}
	.flag2 {
		right: -5em;
	}
	#section .flag {
		display: none;
	}
	#section1 .video-section {
		display: none;
	}
	#section2 .navigate-desk {
		margin-top: 1em;
		display: block;
		font-size: 24px
	}
	#section2 .navigate-mob,
	#section2 .line-img {
		display: none;
	}
	#section2 .fr2-heading {
		display: none;
	}
	#section3 .frame-contentBody {
		top: 31%;
	}
	#section4 .fr4-board,
	#section7 .fr4-board,
	#section10 .fr4-board,
	#section12 .fr4-board {
		display: none;
	}
	#section4 .fr4-webboard,
	#section7 .web-board,
	#section10 .web-board {
		display: block;
		width: 36em;
		margin: auto;
	}
	#section12 .web-board {
		display: block;
		width: 33em;
		margin: auto;
	}
	#section4 .fr4-webboard .board-img,
	#section7 .web-board .board-img,
	#section10 .web-board .board-img,
	#section12 .web-board .board-img {
		width: 100%;
	}
	#section4 .timer-img,
	#section7 .timer-img,
	#section10 .timer-img {
		position: absolute;
		left: 9em !important;
		bottom: 1.5em;
	}
	#section12 .timer-img {
		position: absolute;
		left: 5em !important;
		bottom: 0.5em;
	}
	#section5 .share-button {
		left: 7.5em;
		bottom: -1em;
	}
	#section10 .timer-img {
		left: 21em;
		/* top: -8.5em; */
	}
	#section12 .timer-img {
		left: 21em;
		/* top: -4em; */
	}
	#section14 .fr-14-content,
	#section15 .fr-14-content {
		width: 50%;
	}
	#section14 .frame-content,
	#section15 .frame-content,
	#section16 .frame-content,
	#section16B .frame-content,
	#section17 .frame-content {
		padding: 0 3em !important;
	}
	#section14 .graph-content-fr14,
	#section15 .graph-content {
		display: flex;
	}
	#section14 .fr-14-content {
		padding-right: 1em;
	}
	#section14 .navigate-btn {
		font-size: 24px;
		position: absolute;
		bottom: 1.2em;
		right: 4em;
		left: auto;
	}
	#section15 .navigate-btn-fr15 {
		font-size: 24px;
		position: absolute;
		bottom: 1.2em;
		right: 2em;
		left: auto;
	}
	#section15 .mr-30 {
		margin-top: 2em;
	}
	#section16 .graph-fr16,
	#section16 .Graph-83,
	#section16 .navigate-btn {
		display: none;
	}
	#section16 .graph-fr16-web {
		display: block;
		width: 55em;
	}
	#section16 .graph-fr16-web img {
		width: 100%;
	}
	#section16 .navigation-section {
		display: block;
		width: 1.2em;
	}
	#section16 .navigation-section a img {
		width: 100%;
	}
	#section16 .mr-12,
	#section16B .mr-12 {
		padding-top: 3.2em;
	}
	#section16B .Graph-83,
	#section17 .graph-content {
		display: flex;
	}
	#section16B .Graph-83-para {
		font-size: 26px;
		text-align: left;
		padding-left: 3em;
	}
	#section16B .Graph-83-para .mr-12 {
		padding-top: 1.2em;
	}
	#section16B .share-button {
		width: 10em;
		padding: 0.1em .5em;
		margin: 0;
	}
	#section16B .share-button .shareText {
		font-size: 0.8em;
		color: black;
	}
	#section16B .share-button .twi {
		width: 1.2em;
		padding: 0;
	}
	#section16B .share-button .li {
		width: 1.5em;
	}
	#section16B .navigate-btn {
		font-size: 24px;
		position: absolute;
		bottom: 1.2em;
		right: 2em;
	}
	#section17 .graph-content .graph {
		margin-right: 2em;
	}
	#section17 .mr-20 {
		padding-top: 2em;
	}
	#section17 .navigate-btn-fr17 {
		font-size: 24px;
		position: absolute;
		bottom: 1.2em;
		right: 2em;
		left: auto;
	}
	#section18 .frame-content .content {
		font-size: 26px;
		color: #fbad18;
	}
	#section18 .content .content-yellow {
		font-size: 26px;
	}
}
@media (min-width: 1030px) {
	#section1 .navigation-section,
	#section8 .navigation-section,
	#section11 .navigation-section {
		width: 1em !important;
	}
	#section2 .fr2-heading {
		display: none;
	}
	#section1 .flag {
		display: none;
	}
	.navbar .logo {
		width: 5em;
	}
	.navbar .download-arrow {
		/* width: 3em; */
		display: none;
	}
	.navbar .download-arrow-web  {
		display: block;
		width: 3em;
	}
	.navbar .download-arrow-web img
	{
		width: 100%;
	}
	.video-section {
		display: none;
	}
	.video-section-web {
		display: block;
	}
	#section1 .heading-2,
	#section2 .heading-2 {
		font-size: 2.5em;
	}
	#section1 .heading-1,
	#section2 .heading-1,
	#section5 .heading-1 {
		font-size: 2em;
	}
	#section1 .content,
	#section2 .content,
	#section3 .content-white,
	#section8 .content {
		font-size: 1.7em;
	}
	#section1 .navigation-section,
	#section8 .navigation-section,
	#section11 .navigation-section {
		width: 1.7em;
	}
	#section2 .navigate-mob {
		margin-top: 1em;
		font-size: 24px;
	}
	#section2 .content>br {
		display: block;
	}
	#section1 .frame-contentBody {
		background-image: url(../images/fr_desk/fr1_desk_1024.png);
		background-position: bottom center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 100vh;
		padding-top: 170px;
		width: 100%;
		transform: translateY(0);
		top: 0;
	}
	#section1 .flag-web {
		position: relative;
		display: block;
	}
	.flag1,
	.flag2 {
		position: absolute;
		width: 7em;
	}
	.flag1 {
		left: -4em;
	}
	.flag2 {
		right: -4em;
	}
	#section .flag {
		display: none;
	}
	#section1 .video-section {
		display: none;
	}
	#section2 .navigate-desk {
		margin-top: 1em;
		display: block;
		font-size: 24px;
	}
	.fr2-heading {
		display: block;
	}
	#section2 .navigate-mob,
	#section2 .line-img {
		display: none;
	}
	#section3 .frame-contentBody {
		top: 23%;
	}
	#section3 .board {
		display: none;
	}
	#section3 .navigate-btn {
		font-size: 26px;
	}
	#section4 .fr4-board,
	#section7 .fr4-board,
	#section10 .fr4-board,
	#section12 .fr4-board {
		display: none;
	}
	#section4 .fr4-webboard,
	#section7 .web-board,
	#section10 .web-board,
	#section3 .web-board {
		display: block;
		width: 36em;
		margin: auto;
	}
	#section12 .web-board {
		display: block;
		width: 33em;
		margin: auto;
	}
	#section3 .board-img,
	#section4 .fr4-webboard .board-img,
	#section7 .web-board .board-img,
	#section10 .web-board .board-img,
	#section12 .web-board .board-img {
		width: 100%;
	}
	#section4 .timer-img,
	#section7 .timer-img,
	#section10 .timer-img {
		position: absolute;
		left: 8em !important;
		bottom: 1.5em;
	}
	#section4 .timer-color,
	#section7 .timer-color,
	#section10 .timer-color,
	#section12 .timer-color {
		height: 5px;
		top: 21px;
	}
	#section12 .timer-img {
		position: absolute;
		left: 4em !important;
		bottom: 0.5em;
	}
	#section4 .timer-img .carIcon,
	#section7 .timer-img .carIcon,
	#section10 .timer-img .carIcon,
	#section12 .timer-img .carIcon {
		position: absolute;
		top: 12px;
		left: 7px;
		width: 3em;
	}
	#section4 .trackIcon,
	#section7 .trackIcon,
	#section10 .trackIcon,
	#section12 .trackIcon {
		width: 385px;
	}
	#section10 .trackIcon {
		margin: 0 0 4.5em 1em;
	}
	/* #section5 .answerBoxImg {
		width: 33.5em;
	} */
	#section5 .share-button {
		width: 13em;
		padding: 0.1em .5em;
		margin: auto;
		left: 10em;
		bottom: 2.5em;
	}
	#section5 .share-button .shareText {
		font-size: 1.3em;
		color: black;
	}
	#section5 .share-button .twi {
		width: 1.2em;
		padding: 0;
	}
	#section5 .share-button .li {
		width: 1.7em;
	}
	#section5 .navigate-btn {
		font-size: 26px;
	}
	#section8 .answerBoxImg-fr8,#section5 .answerBoxImg-fr5,
	#section9 .answerBoxImg-fr9,
	#section11 .answerBoxImg-fr11,
	#section13 .answerBoxImg-fr13 {
		width: 33em;
	}
	#section9 .heading-1 {
		font-size: 3.3em;
	}
	#section9 .navigate-btn {
		position: absolute;
		left: 6em;
		font-size: 24px;
	}
	#section11 .content {
		top: 1em;
		font-size: 26px;
		padding: 0 .5em;
	}
	#section13 .navigate-btn-fr13 {
		position: absolute;
		left: 2.5em;
		bottom: 1.5em;
		font-size: 22px;
		width: 19em;
		padding: .5em;
	}
	#section14 .mr-60,
	#section15 .mr-60,
	#section16 .mr-60,
	#section16B .mr-60,
	#section17 .mr-60 {
		padding-top: 6em;
	}
	#section14 .heading,
	#section15 .heading,
	#section16 .heading,
	#section16B .heading,
	#section17 .heading {
		font-size: 1.8em;
	}
	#section14 .number,
	#section15 .number,
	#section16 .number,
	#section16B .number,
	#section17B .number {
		font-size: 1.8em;
	}
	#section14 .points,
	#section15 .points {
		font-size: 1.5em;
	}
	#section14 .graph,
	#section15 .graph {
		width: 26em;
	}
	#section14 .mr-30 {
		margin-top: 30px;
	}
	#section14 .frame-content,
	#section15 .frame-content,
	#section16 .frame-content,
	#section16B .frame-content,
	#section17 .frame-content {
		padding: 0 3em;
	}
	#section14 .graph-content-fr14,
	#section15 .graph-content {
		display: flex;
		justify-content: space-around;
	}
	#section14 .fr-14-content {
		padding-right: 1em;
	}
	#section14 .navigate-btn {
		font-size: 24px;
		position: absolute;
		bottom: 1.2em;
		right: 2em;
		left: auto;
	}
	#section14 .share-button,
	#section15 .share-button {
		width: 12em;
		padding: 0.1em .5em;
		margin: 0;
	}
	#section14 .share-button .shareText,
	#section15 .share-button .shareText {
		font-size: 1.3em;
		color: black;
	}
	#section14 .share-button .twi,
	#section15 .share-button .twi {
		width: 1.2em;
		padding: 0;
	}
	#section14 .share-button .li,
	#section15 .share-button .li {
		width: 1.5em;
	}
	#section15 .navigate-btn-fr15 {
		font-size: 24px;
		position: absolute;
		bottom: 1.2em;
		right: 4em;
		left: auto;
	}
	#section15 .mr-30 {
		margin-top: 2em;
	}
	#section14 .fr-14-content,
	#section15 .fr-14-content,
	.custom-graph,
	.custom-graph-2 {
		width: 50%;
		position: relative;
	}
	#section16 .graph-fr16,
	#section16 .Graph-83,
	#section16 .navigate-btn {
		display: none;
	}
	#section16 .graph-fr16-web {
		display: block;
		width: 55em;
		margin-left: 2em;
	}
	#section16 .graph-fr16-web img {
		width: 100%;
	}
	#section16 .navigation-section {
		display: block;
	}
	#section16 .mr-12,
	#section16B .mr-12 {
		padding-top: 3.2em;
	}
	#section16B .Graph-83,
	#section17 .graph-content {
		display: flex;
	}
	#section16B .Graph-83-para {
		font-size: 26px;
		text-align: left;
		padding-left: 3em;
	}
	#section16B .Graph-83-para .mr-12 {
		padding-top: 1.2em;
	}
	#section16B .share-button {
		width: 10em;
		padding: 0.1em .5em;
		margin: 0;
	}
	#section16 .navigation-section {
		display: block;
		width: 1.2em;
	}
	#section16 .navigation-section a img {
		width: 100%;
	}
	#section16B .share-button .shareText {
		font-size: 0.8em;
		color: black;
	}
	#section16B .share-button .twi {
		width: 1.2em;
		padding: 0;
	}
	#section16B .share-button .li {
		width: 1.5em;
	}
	#section16B .navigate-btn {
		font-size: 24px;
		position: absolute;
		bottom: 1.2em;
		right: 2em;
	}
	#section17 .graph {
		width: 30em;
	}
	#section17 .graph-para {
		bottom: 3em;
		font-size: 25px;
		padding: 0 0 0 7.5em;
	}
	#section17 .graph-content .graph {
		margin-right: 5em;
	}
	#section17 .mr-20 {
		padding-top: 2em;
	}
	#section17 .navigate-btn-fr17 {
		font-size: 24px;
		position: absolute;
		bottom: 1.2em;
		right: 4em;
		left: auto;
	}
	#section14 .number,
	#section15 .number,
	#section16 .number,
	#section16B .number,
	#section17 .number {
		font-size: 1.7em;
	}
	#section18 .mr-90 {
		padding-top: 4em;
	}
	#section18 .frame-content .content {
		font-size: 30px;
		color: #fbad18;
	}
	#section18 .content .content-yellow {
		font-size: 30px;
	}
	#section18 .carousel .answerBoxImg-fr11 {
		margin: 0px 15px;
		width: 20em !important;
		opacity: 0.5;
	}
	#section18 .carousel .answerBoxImg-fr11:hover {
		opacity: 1;
	}
	#section18 .number-fr18 {
		left: 9em;
	}
	#section18 .answerBoxImg-fr11 .content {
		font-size: 22px;
		color: black;
	}
	#section18 .share-button {
		width: 15em;
		padding: 0.1em .5em;
		/* margin: auto; */
	}
	#section18 .share-button .shareText {
		font-size: 1.3em;
		color: black;
	}
	#section18 .share-button .twi {
		width: 1.2em;
		padding: 0;
	}
	#section18 .share-button .li {
		width: 1.8em;
	}
	#section18 .content br:nth-of-type(2) {
		display: block;
	}
	.pro-graph-1,
	.pro-graph-2,
	.pro-graph-3,
	.pro-graph-4 {
		background-image: url(../images/C-graph.png);
		background-size: cover;
		width: 26em;
		position: relative;
		height: 20em;
	}
	.pro-graph-1 .content .CG-heading,
	.pro-graph-2 .content .CG-heading,
	.pro-graph-3 .content .CG-heading,
	.pro-graph-4 .content .CG-heading {
		color: #000;
		font-size: 16px;
		font-weight: bold;
	}
	.pro-graph-1 .sub-heading,
	.pro-graph-2 .sub-heading,
	.pro-graph-3 .sub-heading,
	.pro-graph-4 .sub-heading {
		color: #03A9F4;
		font-size: 18px;
		padding: 5px;
		border-radius: 10px;
		margin-top: 10px;
		border: 1px solid black;
	}
	.pro-graph-1 .CG-detail,
	.pro-graph-2 .CG-detail,
	.pro-graph-3 .CG-detail,
	.pro-graph-4 .CG-detail {
		padding-top: 15px;
	}
	.pro-block {
		display: flex;
		font-size: 18px;
		justify-content: flex-end;
		margin-bottom: 10px;
	}
	.pro-block .pr-line,
	.pro-block .pr-title {
		width: 30%;
	}
	.pro-graph-1 .content,
	.pro-graph-2 .content,
	.pro-graph-3 .content,
	.pro-graph-4 .content {
		padding: 20px 40px 20px 20px;
	}
	.custom-graph {
		height: 286px;
		width: 400px;
	}
	.custom-graph-2 {
		height: 286px;
		width: 400px;
	}
}