#section4 .fr4-webboard, #section7 .web-board, #section10 .web-board, #section3 .web-board{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#section3 .board-img, #section4 .fr4-webboard .board-img, #section7 .web-board .board-img, #section10 .web-board .board-img, #section12 .web-board .board-img{
    margin-top: 0px;
}

.img-f3-male{
    position: absolute;
    right: 14rem;
    bottom: 1rem;
    width: 20%;
}

.img-f3-female {
    position: absolute;
    bottom: 1rem;
    height: auto;
    width: 16%;
    left: 14rem;
}

@media(max-width:767px) {
    .img-f3-female {
        position: absolute;
        top: 5rem;
        height: auto;
        width: 44%;
        left: 0;
    }

    .img-f3-male {
        top: 3rem;
        right: 0;
        width: 60%;
    }

  /*  #section3 .board,
    #section4 .fr4-board,
    #section7 .fr4-board,
    #section10 .fr4-board,
    #section12 .fr4-board {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }*/

    .css_transform1 {
        position: absolute;
        top: 26rem;
        left: 0;
        transform: scale(.5);

    }
}


/* Section 4 */
.fr4-content{
    position: absolute;
    bottom: 3rem;
    padding: 1rem 1rem 0 8rem;
    text-align: center;
    font-size: 22px;
}

.heading-2{
    color: #3c79bd;
    font-family: Arial-bold;
}

.fr4-content p:first-child{
    padding: 0 2rem;
}
.fr4-content p:last-child{
    padding-top: 20px;
}

.img-f4-car {
    position: absolute;
    left: 0;
    right: 0;
    width: 61%;
    height: auto;
    margin: auto;
    bottom: 5rem;
}

.img-f4a-female {
    position: absolute;
    left: -2.5rem;
    width: 28%;
    bottom: -1rem;
}

.img-f4a-male {
    position: absolute;
    right: -3rem;
    width: 31%;
    bottom: 1rem;
}
@media(max-width:767px){
    .fr4-content{
        font-size: inherit;
        padding: 0;
        bottom: 1rem;
    }
    .fr4-content p:first-child{
        padding: 0 10px;
    }

    .fr4-content p:last-child{

    }

    #section4 .fr4-board .timer-img{
        bottom: -0.5rem;
    }

    .img-f4a-female{
        position: absolute;
        left: -3.5rem;
        width: 50%;
        bottom: 3rem;
    }
    .img-f4a-male{
        position: absolute;
        right: -2rem;
        width: 47%;
        bottom: 4.3rem;
    }
    
    .img-f4-car{
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        margin: auto;
        bottom: 6.2rem;
    }
}
.img-f4b-car {
    width:50%;
}


/* Frame 5a */

.img-f5-car{
    position: absolute;
    left: 1rem;
    width: 100%;
    bottom: 1rem;
}

.fr5-content {
    position: absolute;
    bottom: 3rem;
    padding: 1rem 1rem 0 8rem;
    text-align: center;
    font-size: 22px;
}

.fr5-content p:first-child{
    padding: 0 2rem;
}
.fr5-content p:last-child{
    padding-top: 20px;
}

#section10 .fr5-content{
    bottom: 4rem;
}

.fr5-content p:last-child {
    padding-top: 40px;
}

@media(max-width:767px){
    .fr5-content{
        font-size: inherit;
        padding: 0;
        bottom: 1.5rem;
    }

    .fr5-content p:first-child{
        padding: 0 10px;
    }

    #section10 .fr5-content {
        font-size: inherit;
        padding: 0;
        bottom: 2rem;
    }
    #section10 .fr5-content p:last-child{
        padding-top: 25px;
    }

    .fr5-content p:last-child{

    }

    #section7 .fr4-board .timer-img{
        bottom: 0.8rem;
    }
    .img-f5-car{
    left: -13rem;
    width: 100%;
    bottom: 10rem;
}
}


/* Frame5b */

.img-5b-female{
    width: 20%;
    left: 8rem;
    bottom: 1rem;
}

.img-f5b-car{
    position: absolute;
    right: 0;
    left: 0;
    width: 43%;
    margin: 0 auto;
}

.img-5b-cfo{
    position: absolute;
    right: 2rem;
    width: 25%;
    bottom: 1rem;
}

.img-5b-cmo{
    position: absolute;
    right: -1.5rem;
    width: 25%;
    bottom: 1rem;
}

@media(max-width:767px){
    .img-5b-female{
        position: absolute;
        left: -1rem;
        width: 45%;
        bottom: 3rem
    }

    .img-f5b-car{
        position: absolute;
        left: -3rem;
        bottom:11rem;
       width:55%;
    }

    .img-5b-cfo{
        position: absolute;
        right: 2rem;
        width: 75%;
        bottom: 1rem;
    }

    .img-5b-cmo{
        position: absolute;
        right: -1.5rem;
        width: 61%;
        bottom: 1rem;
    }
}
@media(min-width:768px) and (max-width:1024px) {
     .img-f3-female {
        top: 6rem;
        width: 37%;
        left: 0;
    }
       .img-f3-male {
        bottom: 3rem;
        right: 0;
        width: 47%;
    }
    .img-f4a-female {
         width: 37%;
        bottom: 6rem;
    }
    .img-f4a-male {
        right: -1rem;
        width:40%;
        bottom: 7rem;
    }
    .img-f4-car {
        width:95%;
        bottom:10rem;
    }
     .fr4-content,.fr5-content{
        padding: 0;
    }
    .img-f5-car {
        left:-15rem;
        bottom: 2rem;
    }
 }

 /* Frame 6A */
 .img-left-arrow {
    position: absolute;
    top: -6rem;
    left: 5rem;
}

.img-right-arrow {
    position: absolute;
    top: -6rem;
    right: 5rem;
}

@media (max-width: 767px){
    #section10 .fr4-content{
        bottom: 0rem;
    }
    #section10 .fr4-content p:last-child{
        padding: 20px 22px;
    }
    #section10 .fr4-content{
        bottom: 0rem;
    }
    .img-left-arrow {
        position: absolute;
        top: -2rem;
        left: 1rem;
        width: 30%;
    }

    .img-right-arrow {
        position: absolute;
        top: -2rem;
        right: 1rem;
        width: 30%;
    }
    .img-section9-car{
        position: absolute;
        bottom: 0px;
        right: -188px;
        width: 100%;
    }
}


/* Frame7 */

.img-f7-female{
    position: absolute;
    top: -1rem;
    right: 0;
    width: auto !important;
}
.img-f7-male{
    position: absolute;
    top: -1rem;
    width: auto !important;
    right: -5rem;
    left: 0;
    margin: auto;
}
#section12 #fr5-body p{
    font-size: 20px;
    padding-bottom: 20px;
}
@media (max-width: 767px){
    #section12 .fr4-board .timer-img{
        bottom: 7.5em;
    }
    #section12 .fr12-content{
        bottom: 12em;
    }

    #section12 #fr5-body{
        text-align: center;
        color: #000;
    }
    #section12 .css_transform8{
        top: 1.5rem !important;
    }
    #section12 #fr5-body p {
        font-size: 16px;
        padding-bottom: 10px;
    }
}
@media (min-width:991px){
    #section12 .fr12-content {
        position: absolute;
        bottom: 11.5em;
        left: 0.2em;
        text-align: center;
        width: 98%;
    }
    #section12 .fr12-content p{
        font-size: 24px;
    }
    
    #section12 .timer-img{
        bottom: 6em;
        left: 0.5rem !important;
    }
    
    #section12 .web-board{
        width: 27rem;
    }
    
    #section12 #fr5-body{
        text-align: center;
        color: #000;
        font-family: "myriad-pro-regular";
    }
}




/* common styles starts */
#section14 .heading, #section15 .heading, #section16 .heading, #section16B .heading, #section17 .heading{
    background-color: #071738!important;
    color: #b9e3fc;
}

#section14 .number, #section15 .number, #section16 .number, #section16B .number, #section17 .number,#section18 .number-fr18{
    background-color: #3e7dc3;
    color: #b9e3fc;
}

.sub-heading-fr14{
    color: #3e7dc3;
}

.navigate-btn, .navigate-btn-fr13, .navigate-btn-fr15, .navigate-btn-fr17, .navigate-mob, .navigate-desk{
    background-color: #3e7cc4;
}

.sub-heading,.content-yellow{
    color: #3e7dc3;
}

.flags-small{
    position: absolute;
    left: 8.5rem;
    top: -0.5rem;
}

#section17 .flags-small{
    top: -0.1rem;
}



@media (max-width:767px){
    .flags-small{
        position: absolute;
        left: 0.5rem;
        top: 01rem;
        width: 15% !important;
        height: auto !important;
    }
}

/* common styles ends */

@media (max-width:767px){
    #section15 .mr-12{
        padding-top: 0.8rem;
    }
    #section16 .Graph-83{
        margin-top: 0.9rem;
    }
}


.round_per,.percent_more:after{
    background:#3e7dc3;
}
.percent_text{
    color: #3e7dc3;
}
.circle_inbox{
    background-color: #bee3fe;
}


#section16 .graph-fr16 {
    width: 15em;
    margin: auto;
}

@media (min-width: 1024px){
    #section16B .navigate-btn {
        bottom: 0.5em;
    }
}

/* Farme 12 */

.mob{
    display: none;
}
.desk{
    display: block;
}

.frame12-lflags{
    position: absolute;
    left: 0;
    top: 0;
    height: auto !important;
    width: 15% !important;
}

.frame12-rflags{
    position: absolute;
    right: 0;
    top: 0;
    height: auto !important;
    width: 15% !important;
}

@media(min-width:768px) and (max-width:1024px){
    .desk{
        display: none;
    }
    .mob{
        display: block;
    }
}

@media (max-width:767px){

    .mob{
        display: block;
    }
    .frame12-flags{
        display: block;
        position: absolute;
        left: 0;
        height: 50;
        top: 2rem;
        height: 65% !important;
        width: auto !important;
    }

    .desk{
        display: none;
    }

    #section16 .graph-fr16{
        margin-left: 20px;
    }

    #section14 .navigate-btn,#section15 .navigate-btn-fr15,#section16 .navigate-btn,#section17 .navigate-btn-fr17{
        font-size: 0.8rem;
        bottom: 1rem;
        left: 0;
        right: 0;
        bottom: 1rem;
        font-size: 0.8rem;
    }

    .top-btn, .download-img{
        position: fixed;
        right: 25px;
        bottom: 38px;
    }

}

.top-btn, .download-img{
    display: none;
}

#section18 .frame-content .content{
    color: #061838;
}

#section2 .content>span{
    color: #007dc3 !important;
    font-family: Arial-bold;
}

/* Fonts Update */
#section1 .heading-2,#section2 .heading-2{
    font-family: Oswald-extralight;
}
#section1 .heading-1{
    font-family: Arial-bold;
}
#section1 .content,#section3 .fr3-content,#section3 .content-white,.content-white,.content{
    font-family: Arial-regular;
}

#section2 .frame-content p.content{
    font-family: Arial-regular;
}
.navigate-desk {
    font-family:  Arial-regular;
}


#section5 .heading-1{
    font-family: Arial-bold;
}


#section12 #fr5-body  {
    font-family: Arial-regular;
}


#section14 .points, #section15 .points{
    font-family: Arial-regular;
    font-size: 1rem;
}


#section14 .heading, #section15 .heading, #section16 .heading, #section16B .heading, #section17 .heading{
    font-family: Arial-regular;
    font-size: 18px;
}
#section14 .number, #section15 .number, #section16 .number, #section16B .number, #section17 .number, #section18 .number-fr18{
    font-family: Arial-regular;
    font-size: 18px;
}

#section17 .graph-para{
    font-family: Arial-regular;
}

#section18 .frame-content .content{
    font-family: Arial-regular;
}

#section18 .content .content-yellow{
    font-family: Oswald-light;
}

.sub-heading-fr14,.navigate-btn, .navigate-btn-fr13, .navigate-btn-fr15, .navigate-btn-fr17, .navigate-mob, .navigate-desk{
    font-family: Arial-bold;
}
.share-button{
    font-family: Arial-regular;
}

#section14 .points, #section15 .points{
    font-family: Arial-regular;
}

.download-btn a{
    font-family: Arial-regular;
}

.sub-heading{
    font-family: Arial-bold;
}

.navigate-btn>a, .navigate-mob>a, .navigate-btn-fr13>a, .navigate-btn-fr15>a, .navigate-btn-fr17>a, .navigate-desk>a{
    font-family: Arial-bold;
}

#section18 .number-fr18{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 30px;
    padding: 2px 3px;
}

#section17 .graph-para{
    top: 2.5rem;
    padding-left: 8rem;
}

#section18 .carousel .answerBoxImg-fr11{
    opacity: 1;
}


@media (min-width: 1030px){

    #section14 .points, #section15 .points {
        font-family: Arial-regular;
    }

    #section14 .points, #section15 .points {
        font-size: 1.5rem;
        font-family: Arial-regular;
    }
    #section14 .heading, #section15 .heading, #section16 .heading, #section16B .heading, #section17 .heading {
        font-size: 1.5rem;
        font-family: Arial-regular;
    }
    #section14 .number, #section15 .number, #section16 .number, #section16B .number, #section17 .number {
        font-size: 1.5rem;
    }

    #section17 .graph-para{
        top: 3rem;
        padding-left: 12.5rem;
        bottom: unset;
    }
    #section16B .navigate-btn{
        right: 6rem;
    }
    #section18 .carousel .answerBoxImg-fr11{
        opacity: 1;
    }

    .img-f7-female{
        position: absolute;
        top: -5rem;
        right: 11rem;
        width: auto !important;
        height: 150% !important;
    }
    .img-f7-male{
        width: auto !important;
        height: 150% !important;
        top: -5rem;
        right: -35rem;
    }
}

@media all and (min-width:991px){

    #section14 .graph img,#section15 .graph img, #section16 .graph-fr16 img, #section17 .graph img{
        width: 94%;
    }
    #section14 .graph, #section15 .graph{
        margin-top: -1rem;
    }
    .img-f4-car {
        position: absolute;
        left: 3rem;
        right: 0;
        width: 50%;
        height: auto;
        margin: auto;
        bottom: 1rem;
    }
    
    .img-f4a-female {
        position: absolute;
        right: 0;
        left: -33rem;
        margin: auto;
        width: 25%;
        bottom: -5rem;
    }
    .img-f4a-male{
        position: absolute;
        right: -34rem;
        left: 0;
        margin: auto;
        width: 25%;
        bottom: -3rem;
    }
}





@media (max-width:1024px){
    #section15 .flags-small, #section17 .flags-small{
        display: none !important;
    }
}

/* #section18 .slick-initialized .slick-slide{
    width: 260px !important;
    margin: 0 auto;
} */