
#section1 .heading-2,
#section1 .content,
#section1 .line-img>img,
#section2 .heading-1,
#section2 .heading-2,
#section2 .content,
#section2 .line-img>img,
#section3 .frame-contentBody,
#section4 .timer,
#section5 .answerBoxImg,
#section5 .heading-1
,#flag1,#flag2
{
    opacity: 0;
    display: inline-block;
}

#section1 .heading-1, #section1 .flag
#section2 .navigate-desk,
#section2 .navigate-mob,
#section5 .navigate-btn,
#section8 .answerBoxImg-fr8 img,
#section8 .content,
#section9 .answerBoxImg-fr9 img,
#section9 .heading-1,
#section9 .navigate-btn,
#section11 .answerBoxImg-fr11 img,
#section11 .content,
#section13 .answerBoxImg-fr13 img,
#section13 .content,
#section13 .navigate-btn-fr13,
#section14 .graph img,
#section14 .navigate-btn,
#section3 .board,#section3 .web-board,
#section4 .fr4-board,#section4 .fr4-webboard,
.timer-img,
#section7 .fr4-board,#section7 .web-board,
#section10 .fr4-board, #section10 .web-board,
#section12 .fr4-board,#section12 .web-board,
#section14 .fr-14-content ,
#section14 .fr14-heading,
#section15 .navigate-btn-fr15,
#section15 .fr-14-content,
#section15 .graph img,
#section15 .fr14-heading,
#section16 .fr14-heading,
#section16 .navigate-btn,
#section16 .Graph-83,
#section16 .graph-fr16 img,
#section17 .fr14-heading,
#section17 .navigate-btn-fr17,
#section17 .graph ,
#section18 .frame-content,
#section18 .button-section,
#section18 .carousel
{
    opacity: 0;
}


/* --83%-- */

.circle_percent {
    font-size: 90px;
    width: 1em;
    height: 1em;
    position: relative;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    /* margin: 20px; */
   }
   .circle_inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    height: 1em;
    clip: rect(0 1em 1em 0.5em);
   }
   .round_per {
    position: absolute;
    left: 0;
    top: 0;
    width: 1em;
    height: 1em;
    background: #fbae3d;
    clip: rect(0 1em 1em 0.5em);
    transform: rotate(180deg);
    transition: 1.05s;
   }
   .percent_more .circle_inner {
    clip: rect(0 0.5em 1em 0em);
   }
   .percent_more:after {
    position: absolute;
    left: 0.5em;
    top: 0em;
    right: 0;
    bottom: 0;
    background: #fbae3d;
    content: "";
   }
   .circle_inbox {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #efeeef;
    z-index: 999;
    border-radius: 50%;
   }
   .percent_text {
    position: absolute;
    font-size: 22px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: #fbae3d;
   }
